﻿@model KOKOBAY.Entities.BookingItem

<div>
    <div id="my-popup" class="mfp-hide bg-popup">
        @using (Html.BeginUmbracoForm<KOKOBAY.Controller.BookingSurfaceController>("Booking", FormMethod.Post, new { id = "formBooking" }))
        {
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <h3 class="title-projects">@(new UmbracoHelper().GetDictionaryValue("BOOKING TABLE"))</h3>
                    <p class="sub-titlte-projects">@(new UmbracoHelper().GetDictionaryValue("Please fill your information into fields below"))</p>
                    <img class="below-h1" src="/img/cocobay/gach-title-white.png" />
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="form-label" for="name">@(new UmbracoHelper().GetDictionaryValue("Your Name"))</label>

                        @Html.TextBoxFor(x => x.CustomerName, new { @id = "name", @name = "name", @class = "form-control", placeholder = "Your Name Here", type = "text", required = "required", tabindex = "1" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="pick">@(new UmbracoHelper().GetDictionaryValue("Pick a Restaurant"))</label>
                        @Html.DropDownListFor(x => x.RestaurantName, Model.ListRestaurant, new { @id = "show" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="name">@(new UmbracoHelper().GetDictionaryValue("Your Email"))</label>

                        @Html.TextBoxFor(x => x.Email, new { @id = "Email", @name = "Email", @class = "form-control", placeholder = "abc@gmail.com", type = "text", required = "required", tabindex = "3" })
                    </div>
                </div>
                <div class="col-sm-6 mob">
                    <div class="form-group">
                        <label class="form-label" for="phone">@(new UmbracoHelper().GetDictionaryValue("Your Phone"))</label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @id = "phone", @name = "phone", @class = "form-control", placeholder = "0981856588", type = "text", required = "required" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="note">@(new UmbracoHelper().GetDictionaryValue("Special Note"))</label>
                        @Html.TextBoxFor(x => x.SpecialNote, new { @id = "note", @note = "phone", @class = "form-control", placeholder = "", type = "text", required = "required", tabindex = "2" })
                    </div>

                    <div class="form-group">

                        <div class="col-sm-4 col-xs-12" style="padding: 0px;">
                            <label class="form-label mob" for="note">@(new UmbracoHelper().GetDictionaryValue("Booking Date"))</label>
                            <div class="form-group">
                                <span class="arrival-input calendar">
                                    <input type="text" id="date" name="BookingDate" style="width: 100%;">
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label class="form-label mob" for="note">@(new UmbracoHelper().GetDictionaryValue("Time"))</label>
                            @Html.DropDownListFor(x => x.BookingTime, Model.ListTime, new { @id = "time" })
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label class="form-label mob" for="note">@(new UmbracoHelper().GetDictionaryValue("Guests"))</label>
                            @Html.DropDownListFor(x => x.NumberOfSeats, Model.ListNumberOfSeats, new { @id = "guest" })
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 center">
                    <button class="btn subcribtn" id="btnBooking">@(new UmbracoHelper().GetDictionaryValue("Book Now"))</button>
                </div>
            </div>
        }
    </div>
</div>
