﻿@model KOKOBAY.Entities.ContactUsItem

@*@using (Html.BeginUmbracoForm<KOKOBAY.Controller.ContactUsSurfaceController>("Contact"))*@
@using (Html.BeginUmbracoForm<KOKOBAY.Controller.ContactUsSurfaceController>("Contact", FormMethod.Post, new { id = "contact-form", @class = "form", role = "form" }))
   {
    @Html.ValidationSummary(true)


    <div class="col-sm-6 wow fadeInLeft">

        <div class="form-group">
            <label class="form-label" for="name">@(new UmbracoHelper().GetDictionaryValue("Your Name"))</label>
            @*<input type="text" class="form-control" id="name" name="name" placeholder="" tabindex="1" required>*@
            @Html.TextBoxFor(x => x.NameCustomer, new { @class="form-control",@id = "name", @name = "name", type = "text", required = "required"} )
        </div>
        <div class="form-group">
            <label class="form-label" for="email">@(new UmbracoHelper().GetDictionaryValue("Your Email"))</label>
            @*<input type="email" class="form-control" id="email" name="email" placeholder="" tabindex="2" required>*@
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "email", @name = "email", type = "text", required = "required" })
        </div>

    </div>
    <div class="col-sm-6 wow fadeInRight">
        <div class="form-group">
            <label class="form-label" for="phone">@(new UmbracoHelper().GetDictionaryValue("Your Phone"))</label>
            @*<input type="text" class="form-control" id="phone" name="phone" placeholder="" tabindex="1" required>*@
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @id = "phone", @name = "phone", type = "text", required = "required" })
        </div>
        <div class="form-group">
            <label class="form-label" for="note">@(new UmbracoHelper().GetDictionaryValue("Note"))</label>
            @*<input type="text" class="form-control" id="note" name="note" placeholder="" tabindex="2" required>*@
            @Html.TextBoxFor(x => x.Note, new { @class = "form-control", @id = "phone", @name = "phone", type = "text", required = "required" })
        </div>
        </div>

        <div class="col-sm-12 center">
            <button type="button" class="btn subcribtn wow fadeInUp" id="contact_project">SUBMIT</button>
        </div>
        <style>
            .form-control
            {
                color:black!important;
            }
        </style>
}

