﻿
@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    var lang = (Request.Cookies["_culture"] == null
    || string.IsNullOrEmpty(Request.Cookies["_culture"].Value)) ? "en" : Request.Cookies["_culture"].Value.ToLower();
}


<!-- Start Footer -->
<footer id="footer">

    @Html.Action("Index", "SubcribeSurface")

    <div class="container-fluid">
        <!-- Start Footer-Content -->
        <div class="footer-content">
            <div class="row bg-footer  ">
                <div class="col-sm-6 bg-footer-left">
                    <div class="col-sm-12">
                        <img src="/img/cocobay/logo-1.png" width="25%" alt="logo">
                    </div>
                    <div class="col-sm-4 col-xs-4 menu1">
                        @foreach (var item in Model.MenuChildrenLeft)
                        {

                            <a href="@item.Url">@item.Name</a>

                        }
                    </div>
                    <div class="col-sm-4 col-xs-4 menu1">
                        @foreach (var item in Model.MenuChildrenRight)
                        {

                            <a href="@item.Url">@item.Name</a>

                        }
                    </div>

                    <div class="col-sm-4 col-xs-4 menu1">
                        @foreach (var item in Model.MenuChildrenTop)
                        {

                            <a href="@item.Url">@item.Name</a>

                        }
                    </div>
                    <div class="col-sm-12" style="clear:both;">
                        <img class="below-p" src="~/img/cocobay/gach-title-trans.PNG" />
                    </div>
                    <div class="col-sm-4">
                        <p>Follow Us</p>
                        @foreach (var item in Model.SocialNetwork)
                        {

                            var SocialUrl = item.GetPropertyValue<string>("SocialUrl");
                            var SocialIconByCss = item.GetPropertyValue<string>("SocialIconByCss");
                            <a href="@SocialUrl"><i class="@SocialIconByCss icofooter"></i></a>
                        }

                    </div>
                    <div class="col-sm-6"><p>Hotline</p><p class="tel">@Model.PhoneNumber</p></div>
                    <div class="col-sm-12"><p>Address</p><p class="add-footer">@Model.FooterAddress</p></div>
                </div>
                <div class="col-sm-6 feature" style="margin-bottom: -10px!important;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.38461326684!2d108.28331698546893!3d15.967062068407495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142105537c77b21%3A0x820e1cd980ecf08d!2sCocobay+Da+Nang%2C+Vietnam!5e0!3m2!1sen!2sus!4v1546159413270" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer-Content -->
    <!-- Start Footer-Menu -->
    <div class="footer-copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @{ var demPolicy = 0;}
                    @foreach (var ItemPolicy in Model.LstPolicy)
                    {
                        demPolicy++;

                        if (demPolicy == Model.LstPolicy.Count)
                        {
                            <a href="@ItemPolicy.Url" class="link-footer">@ItemPolicy.Name</a>
                        }
                        else
                        {
                            <a href="@ItemPolicy.Url" class="link-footer">@ItemPolicy.Name</a> <span>|</span>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer-Menu -->
</footer>
<!-- End Footer -->

<a href="#" class="btn" id="back-to-top">
    <i class="fa fa-arrow-up"></i>
</a>
