﻿
@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    var lang = (Request.Cookies["_culture"] == null
    || string.IsNullOrEmpty(Request.Cookies["_culture"].Value)) ? "vi" : Request.Cookies["_culture"].Value.ToLower();
}

        </div>
    </div>
    <!-- End Banner -->
</header>
<!-- End Header -->
