﻿
<header id="header" class="triangle">
    <!-- Menu toggle Mobile -->
    <label id="toggle" class="toggle"></label>
    <!-- Start Banner -->
    <div id="banner">
        <div class="banner-bg">
            <div class="banner-bg-item"><img src="~/img/cocobay/banner.PNG" width="100%" /></div>
        </div>
    </div>
</header>