﻿
@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    var lang = (Request.Cookies["_culture"] == null
    || string.IsNullOrEmpty(Request.Cookies["_culture"].Value)) ? "vi" : Request.Cookies["_culture"].Value.ToLower();
}

</div>
<!-- Start Header-Inner -->
<div class="header-inner cleafix">
    <div class="header-tool-bar mobi">
        <div class="container-fluid" style="background-color: #fff">
            <div class="container" style="background-color: #fff;padding-top: 5px;padding-bottom:  5px;">
                <section class="customer-logos slider">
                    @foreach (var item in Model.Patents)
                    {
                        var PatentsImages = item.GetPropertyValue<string>("PatentsImage").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                        var PatentsImage = Umbraco.TypedMedia(PatentsImages).Where(x => x != null).FirstOrDefault();
                        var PatentsUrl = item.GetPropertyValue<string>("PatentsUrl");
                        <a target="_blank" href="@PatentsUrl"><div class="slide  slick-slide Feast"><center><img src="@PatentsImage.Url" height="40"></center></div></a>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- Start Header-Logo -->
    <div class="header-logo">
        <a href="@UmbracoContext.Current.PublishedContentRequest.Domain.Name">
            <img style="margin-top: 60px;" src="~/img/cocobay/logo-1.png" alt="logo" class="@(Model.enablePatents == true ? "toplogo" : "")">
        </a>
    </div>
    <!-- End Header-Logo -->
    <!-- Start Header-Tool-Bar -->
    <div class="header-tool-bar @(Model.enablePatents == true ? "tops": "")">
        <div class="container">
            <div class="row">
                <!-- Start Header-Left -->
                <div class="col-lg-5 col-md-5 col-xs-12 header-left">
                    <!-- Start Header-Contact -->
                    <ul class="custom-list header-contact">
                        <li>
                            <i class="yellow-nav">Hotline</i>
                            @Model.PhoneNumber
                        </li>
                        <li>
                            <i class="yellow-nav" style="padding-left: 25px;">Follow us</i>

                            <ul class="header-social custom-list">
                                @foreach (var item in Model.SocialNetwork)
                                {

                                    var SocialUrl = item.GetPropertyValue<string>("SocialUrl");
                                    var SocialIconByCss = item.GetPropertyValue<string>("SocialIconByCss");
                                    <li class="social-mobi"><a href="@SocialUrl" target="_blank"><i class="@SocialIconByCss"></i></a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <!-- End Header-Contact -->
                </div>
                <!-- End Header-Left -->
                <!-- Start Header-Right -->
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1 header-right">
                    <ul class="custom-list header-contact">
                        @foreach (var item in Model.MenuChildrenTop)
                        {
                            <li class="right-nav-pc">
                                <a href="@item.Url">
                                    @item.Name
                                </a>
                            </li>
                        }
                        <!-- End Header-Login -->
                        <!-- Start Header-Language -->
                        <li>
                            <div class="header-language">
                                <button class="header-btn">
                                    <i class="fa fa-globe"></i>
                                    @lang.ToUpper()
                                </button>
                                <nav class="header-form">
                                    <ul class="custom-list">

                                        @foreach (var item in Model.Menu)
                                        {
                                            if (lang != item.Name)
                                            {
                                                <li>
                                                    <a href="@item.Url">
                                                        @item.Name.ToString().ToUpper()
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>

                                </nav>
                            </div>
                        </li>
                    </ul>
                    <!-- End Header-Language -->
                </div>
                <!-- End Header-Right -->
            </div>
        </div>
    </div>
    <!-- End Header-tool-bar -->
    <!-- Start Header-Nav -->
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Nav -->
                    <nav role="navigation">
                        <ul class="nav navbar-nav">
                            @foreach (var item in Model.MenuChildrenLeft)
                            {
                                <li class="left-nav @(item.Name == Umbraco.Content(UmbracoContext.Current.PageId).Name || item.Name == ((umbraco.NodeFactory.Node)(umbraco.uQuery.GetCurrentNode().Parent)).Name ?"activemn":"") has-submenu">
                                    <a href="@item.Url">
                                        @item.Name
                                    </a>
                                    @if (Model.MenuChildLevel2.Any(a => a.ParentName == item.Name))
                                    {
                                        <ul class="sub-menu custom-list">
                                            @foreach (var item1 in Model.MenuChildLevel2.Where(a => a.ParentName == item.Name))
                                            {
                                                <li>
                                                    <a href="@item1.Url">@item1.Name</a>
                                                    <ul class="sub-menu custom-list">
                                                        @foreach (var item2 in Model.MenuChildLevel3.Where(a => a.ParentName == item1.Name))
                                                        {
                                                            <li><a href="@item2.Url" target="_blank">@item2.Name</a></li>
                                                        }
                                                    </ul>

                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @foreach (var item in Model.MenuChildrenRight)
                            {
                                <li class="left-nav @(item.Name == Umbraco.Content(UmbracoContext.Current.PageId).Name || item.Name == ((umbraco.NodeFactory.Node)(umbraco.uQuery.GetCurrentNode().Parent)).Name ?"activemn":"") has-submenu">

                                    <a href="@item.Url" class="active project">@item.Name</a>
                                    @if (Model.MenuChildLevel2.Any(a => a.ParentName == item.Name))
                                    {
                                        <ul class="sub-menu custom-list">
                                            @foreach (var item1 in Model.MenuChildLevel2.Where(a => a.ParentName == item.Name))
                                            {
                                                <li>
                                                    <a href="@item1.Url" target="_blank">
                                                        @item1.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }

                                </li>
                            }

                        </ul>
                    </nav>
                    <!-- End Nav -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Header-Nav -->
</div>
<!-- End Header-Inner -->
<div class="css-table">
