﻿@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    var domain = HttpContext.Current.Request.Url;
    var sharingUrl = Model != null && Model.MetaSocialSharingImage != null ? Model.MetaSocialSharingImage.Url : "";
    string sharingImageUrl = "";
    if (!string.IsNullOrEmpty(sharingUrl))
    {
        sharingImageUrl = domain.GetLeftPart(UriPartial.Authority) + sharingUrl;
    }
    else if (Model.HeroImage != null)
    {
        sharingImageUrl = domain.GetLeftPart(UriPartial.Authority) + Model.HeroImage.Url;
    }
}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<title>@Model.PageTitle</title>
@if (Model.Favicon != null)
{
    <link rel="shortcut icon" href="@Model.Favicon.Url">
}
else
{
    <link rel="shortcut icon" href="/media/1261/favicon-32x32.png">
}
<!-- GOOGLE FONTS-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- STYLESHEETS-->
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/owl.carousel.css" rel="stylesheet">

<!-- ADD cubeportfolio -->
<link href="~/css/cubeportfolio.min.css" rel="stylesheet">
<!-- END cubeportfolio -->


<link href='~/css/style.css' rel="stylesheet">
<link href='~/css/responsive.css' rel="stylesheet">
<link rel="stylesheet" href="~/css/animate.css">
<link href='~/css/custom.css' rel="stylesheet">


<!--[if lte IE 9]>
     <script src="js/respond.min.js" type="text/javascript"></script>
     <![endif]-->
@*<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/gif" href="~/Content/images/favicon.gif" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app" content="app-id=1141620783">
    <title>KOKO.com.vn</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>@Model.BrowserTitle</title>*@

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Model.PageTitle" />
<meta name="twitter:title" content="@Model.BrowserTitle" />
<meta name="twitter:description" content="@Model.MetaDescription" />
<meta name="twitter:image" content="@sharingImageUrl" />
<meta name="twitter:url" content="@Model.Content.UrlAbsolute()" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@Model.BrowserTitle" />
<meta property="og:site_name" content="@Model.PageTitle" />
<meta property="og:image" content="@sharingImageUrl" />
<meta property="og:description" content="@Model.MetaDescription" />
<meta property="og:url" content="@Model.Content.UrlAbsolute()" />
@Html.Raw(Model.GoogleAnalytics)