﻿@model KOKOBAY.Entities.RecruitmentItem


<div style="margin-top: 100px">
    <div id="my-popup" class="mfp-hide bg-popup">
        @using (Html.BeginUmbracoForm<KOKOBAY.Controller.RecruitmentSurfaceController>("Applying", FormMethod.Post, new { id = "contact-form", @class = "form", role = "form" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(a => a.JobTitle)
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <h3 class="title-projects">APPLY FORM</h3>
                    <p class="sub-titlte-projects">@(new UmbracoHelper().GetDictionaryValue("Please fill your information into fields below"))</p>
                    <img class="below-h1" src="img/cocobay/gach-title-white.png" />
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" for="name">@(new UmbracoHelper().GetDictionaryValue("Your Name"))</label>
                        <input type="text" class="form-control" id="CandidateName" name="CandidateName" placeholder="" tabindex="1" required>

                    </div>
                    <div class="form-group">
                        <label class="form-label" for="name">@(new UmbracoHelper().GetDictionaryValue("Your Email"))</label>
                        <input type="email" class="form-control" id="CandidateEmail" name="CandidateEmail" placeholder="abc@gmail.com" tabindex="1" required>
                    </div>
                </div>
                <div class="col-sm-6 mob">
                    <div class="form-group">
                        <label class="form-label" for="phone">@(new UmbracoHelper().GetDictionaryValue("Your Phone"))</label>
                        <input type="text" class="form-control" id="CandidatePhoneNumber" name="CandidatePhoneNumber" placeholder="0981856588" tabindex="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="note">@(new UmbracoHelper().GetDictionaryValue("Upload Your CV"))</label>
                        <input type="file" class="form-control" id="CandidateCV" name="CandidateCV" placeholder="" tabindex="2" required>

                        @*@Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file", required = "required", tabindex = "2" } })*@

                    </div>
                </div>
                <div class="col-sm-12 center">
                    <button class="btn subcribtn" id="btnApply">@(new UmbracoHelper().GetDictionaryValue("APPLY NOW"))</button>
                </div>
            </div>
        }
    </div>
</div>
