﻿@model KOKOBAY.Entities.RequestQuotationForm

<div style="margin-top: 100px">
    <div id="raq-popup" class="mfp-hide bg-popup">
        @using (Html.BeginUmbracoForm<KOKOBAY.Controller.ShoppingSurfaceController>("Shopping", FormMethod.Post, new { id = "formShopping" }))
        {
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <h3 class="title-projects">@(new UmbracoHelper().GetDictionaryValue("Request Quotation Form"))</h3>
                    <p class="sub-titlte-projects">@(new UmbracoHelper().GetDictionaryValue("Please fill your information into fields below"))</p>
                    <img class="below-h1" src="/img/cocobay/gach-title-white.png" />
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" for="name">Company Name</label>
                        @Html.TextBoxFor(x => x.CompanyName, new { @id = "name", @name = "name", @class = "form-control", placeholder = "", type = "text", required = "required", tabindex = "1" })

                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                            <label class="form-label mob" for="EventDate">Event Date</label>
                            <input type="date" class="form-control" id="EventDate" name="EventDate" placeholder="" tabindex="1" required>

                        </div>
                        <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                            <label class="form-label mob" for="CheckIn">Check in</label>
                            <input type="time" class="form-control" id="CheckIn" name="CheckIn" placeholder="" tabindex="1" required>

                        </div>
                        <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                            <label class="form-label mob" for="note">Check out</label> 
                            <input type="time" class="form-control" id="CheckOut" name="CheckOut" placeholder="" tabindex="1" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12" style="margin-top: 50px;">
                        <div class="form-group">
                            <label class="form-label" for="ListPackageRequestID">Request</label>
                            @Html.DropDownListFor(x => x.Request, Model.ListRequest, new { @id = "ListRequestID", @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12" style="margin-top: 50px;">
                        <div class="form-group">
                            <label class="form-label" for="ListRequestID">Package Request</label>
                            @Html.DropDownListFor(x => x.PackageRequest, Model.ListPackageRequest, new { @id = "ListPackageRequestID", @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 mob">
                    <div class="form-group">
                        <label class="form-label" for="delegates">Number of delegates</label>
                        <input type="number" class="form-control" id="delegates" name="delegates" placeholder="1" tabindex="1" required>



                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-xs-12 active-input">
                            <label class="form-label" for="nation">Nationality</label>
                            <input type="text" class="form-control" id="nation" name="nation" placeholder="" tabindex="2">
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 active-input">

                        <div class="form-group">
                            <label class="form-label" for="styles">Set up styles</label>
                            <input type="text" class="form-control" id="styles" name="styles" placeholder="" tabindex="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Special">Special request</label>
                        <input type="text" class="form-control" id="Special" name="Special" placeholder="" tabindex="1">
                    </div>
                </div>
                <div class="col-sm-12 center">
                    <button class="btn subcribtn" id="btnShopping">@(new UmbracoHelper().GetDictionaryValue("Book Now"))</button>
                </div>
            </div>
        }
    </div>
</div>
