﻿@model KOKOBAY.Entities.SubcribeItem
<div class="col-sm-12  footertop widget-newsletter">
    <div class="col-sm-6 col-reg">
        <img src="~/img/cocobay/1.PNG" />
        <p class="dkntt">@(new UmbracoHelper().GetDictionaryValue("SUBCRIBE VIA EMAIL"))</p>
    </div>
    <div class="col-sm-6 col-form">

        @using (Html.BeginUmbracoForm<KOKOBAY.Controller.SubcribeSurfaceController>("Subcribe", FormMethod.Post, new { id = "formSubcribe" }))
        {
            @Html.ValidationSummary(true)
            @Html.TextBoxFor(x => x.Email, new { @id = "subcribe", @name = "newsletter", @class = "input_email", placeholder = (new UmbracoHelper().GetDictionaryValue("Your Email Here")), type = "text" })
            <button class="btn subcribtn" id="btnSubcribe">@(new UmbracoHelper().GetDictionaryValue("SUBCRIBE NOW"))</button>
        }
    </div>
</div>