﻿
@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    var lang = (Request.Cookies["_culture"] == null
    || string.IsNullOrEmpty(Request.Cookies["_culture"].Value)) ? "en" : Request.Cookies["_culture"].Value.ToLower();
}
<div class="header-tool-bar logoslider">
    <div class="container-fluid" style="background-color: #fff">
        @if (Model.enablePatents == true)
        {
            <div class="container" style="background-color: #fff;padding-top: 5px;padding-bottom:  5px;">
                <section class="customer-logos slider">
                    @foreach (var item in Model.Patents)
                {
                    var PatentsImages = item.GetPropertyValue<string>("PatentsImage").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                    var PatentsImage = Umbraco.TypedMedia(PatentsImages).Where(x => x != null).FirstOrDefault();
                    var PatentsUrl = item.GetPropertyValue<string>("PatentsUrl");
                        <a target="_blank" href="@PatentsUrl"><div class="slide  slick-slide Feast"><center><img src="@PatentsImage.Url" height="40"></center></div></a>
                    }
                </section>
            </div>
        }
    </div>
</div>

<!-- Start Header -->
<header id="header" class="triangle">
    <!-- Menu toggle Mobile -->
    <label id="toggle" class="toggle"></label>
    <!-- Start Banner -->
    <div id="banner">
        <div class="banner-bg">
