﻿body {
    font-family: 'Varela Round', sans-serif;
}

.modal-confirm {
    color: #434e65;
    /*width: 525px;*/
    background: none !important;
}

    .modal-confirm .modal-content {
        padding: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }

    .modal-confirm .modal-header {
        background: #47c9a2;
        border-bottom: none;
        position: relative;
        text-align: center;
        margin: -20px -20px 0;
        border-radius: 5px 5px 0 0;
        padding: 35px;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 36px;
        margin: 10px 0;
    }

    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-confirm .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        text-shadow: none;
        opacity: 0.5;
    }

        .modal-confirm .close:hover {
            opacity: 0.8;
        }

    .modal-confirm .icon-box {
        color: #fff;
        width: 95px;
        height: 95px;
        display: inline-block;
        border-radius: 50%;
        z-index: 9;
        border: 5px solid #fff;
        padding: 15px;
        text-align: center;
    }

        .modal-confirm .icon-box i {
            font-size: 64px;
            margin: -4px 0 0 -4px;
        }

    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #eeb711;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 30px;
        margin-top: 10px;
        padding: 6px 20px;
        border: none;
    }

        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #eda645;
            outline: none;
        }

        .modal-confirm .btn span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


.carousel-control.left.custom {
    margin-left: -135px;
}

.carousel-control.right.custom {
    margin-right: -135px;
}


.content_header_event {
    width: 70px !important;
}

h6.text_header_discover {
    width: 165px !important;
}



.sidenav {
    /*width: 202px;*/
    width: 60px;
    position: fixed;
    z-index: 12000;
    top: 200px;
    right: 0px;
    overflow-x: hidden;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 22px;
        display: block;
    }



@media only screen and (max-width: 650px) {
    body {
        min-height: 100%;
        padding-bottom: 60px;
    }

    .sidenav {
        height: 60px;
        position: fixed;
        bottom: 0;
        top: auto;
        background-color: black;
        width: 100%;
    }

    @supports (position: sticky) {
        .sidenav {
            height: 60px;
            position: fixed;
            bottom: 0;
            top: auto;
            background-color: black;
            width: 100%;
        }
    }

    .sidenav .link {
        float: left;
        width: 100px;
    }
}

.sidenav .title {
    display: none;
}

.sidenav .link img {
    float: right;
    height: 30px;
    max-width: none !important;
    margin-top: 9px;
}

.mtable img {
    height: 42px !important;
    margin-right: 9px !important;
    margin-top: 3px !important;
}

.ticket img {
    height: 36px !important;
    margin-top: 5px !important;
}

.sidenav .link {
    height: 60px;
}

.sidenav .title {
    line-height: 45px;
}

.sidenav a, .sidenav a:hover {
    text-decoration: none;
    color: #fff;
}

.sidenav .room {
    background-color: #E91C61;
}

.sidenav .mtable {
    background-color: #5BA2D8;
}

.sidenav .bus {
    background-color: #E3168B;
}

.sidenav .ticket {
    background-color: #F79435;
}


div#open-popup {
    margin: 70px auto !important;
    padding: 30px 50px 30px 50px !important;
}


p.sub-titlte-projects {
    color: #fff !important;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #FFC107;
    color: #fff !important;
    border-radius: 0 !important;
    margin: 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 35px;
}

.tab-content > .active {
    display: block;
    font-family: avo;
    font-weight: 600 !important;
}

h3.title-h3, h4.title-h3-1 {
    height: auto !important;
    line-height: 1.5em;
}

h4.title-h3-11 {
    line-height: 1.5em;
}

h5.title-related {
    line-height: 1.5em;
}

img.below-h1 {
    width: 90px;
    height: 7px;
}

h2.project-title {
    font-size: 27px;
}

@media (max-width:480px) {
    .triangle #banner, .triangle #banner .banner-bg, .triangle #banner .banner-bg-item {
        height: 301px !important;
    }
}

ol.carousel-indicators {
    /*display: none;*/
}

.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    background: #f5deb300;
}

a.left.carousel-control {
    background: #ffffff00;
}

a.right.carousel-control {
    background: #ffffff00;
}

.carousel-control {
    opacity: 1;
}

.tab-content1 img {
    position: relative;
    height: auto;
    width: auto;
    object-fit: cover;
    top: 0;
    right: 0;
}

html {
    margin-right: 0 !important;
    overflow: inherit !important;
}

label.form-label {
    color: #5ebdd1;
}

.form-control {
    color: #fff;
    background-color: #fff0;
}

h3.title-projects {
    color: #fff;
}

.mfp-close-btn-in .mfp-close {
    color: #FF9800;
    font-size: 4em;
    opacity: .9;
    top: 20px;
}

p.sub-titlte-projects {
    color: #E91E63;
}

.mfp-container {
    padding: 0 100px;
}

@media (max-width:991px) {
    .mfp-container {
        padding: 0 15px;
    }
}

div.my-popup {
    margin: 70px auto;
    padding: 30px 50px 30px 50px;
}

.wow:first-child {
    visibility: hidden;
}

@media screen and (max-width: 1200px) {
    .carousel-inner.inner-responsive {
        height: auto;
    }
}

@media (max-width: 768px) {
    input[type=date] {
        width: 100% !important;
    }

    .default-form input[type=text], .default-form input[type=password], .default-form input[type=date], .default-form select, .default-form textarea {
        font-family: avo !important;
        padding-left: 11px !important;
    }

    .default-form .calendar i {
        right: 0px !important;
        cursor: pointer;
    }
}

@media screen and (max-width: 769px) {
    img.img-responsivef {
        height: 500 !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    img.img-responsivef {
        height: 500px !important;
    }
}

@media screen and (max-width: 426px) {
    img.img-responsivef {
        height: auto !important;
    }
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.active-input {
    z-index: 9999;
}

input[type=date] {
    width: 95%;
}

h1 {
    /*height: 70px !important;*/
    line-height: 35px !important;
}


input#date.hasDatepicker, input#date.hasDatepicker.active {
    width: 100%;
}

.text-feastslide > p {
    width: 90%;
}


.title-newsdetail {
    height: auto !important;
}

div.col-sm-6.left-text-video.wow.fadeInLeft.left-text-video-desktop {
    height: auto !important;
}

div.below.wow.fadeInLeft {
    z-index: 100;
}

h5.title-related {
    overflow: inherit !important;
}


/*p.description-banner {
    background-color: #4a0263;
    background-clip: content-box;
}

.title-feast {
    padding: 0px 35%;
    background-color: #4a0263;
    background-clip: content-box;
}

img.below-h1 {
    background-color: transparent !important;
}*/

p.readmore {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.overlay-content.mod > p {
    padding-bottom: 0px !important;
}


.news > p {
    height: 240px !important;
}

.read-more {
    position: absolute;
    bottom: 0 !important;
}

button.btn.moreit {
    margin-top: 10px;
}

.ticket-title {
    bottom: 20px;
}

.ticket-bottom {
    bottom: 30px;
    position: absolute;
    margin-left: -26px;
    width: 100%;
}


.info-tiket {
    height: 250px;
}

.padding-address {
    height: 300px !important;
}

.address-hochiminh {
    height: 100% !important;
}


h4 {
    line-height: 1.5em !important;
}

p.detail-content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}


h3.title-scale {
    line-height: 1.5em;
}


div#raq-popup {
    margin: 70px auto;
    background-image: url(/img/cocobay/bg-bkf.png);
    padding: 30px 50px 30px 50px;
}

@media (max-width: 480px) {

    div#raq-popup {
        margin: 90px auto !important;
    }

    a.left.carousel-control, a.right.carousel-control {
        display: none;
    }

    .triangle #banner, .triangle #banner .banner-bg-item {
        height: 195px !important;
    }
}
