﻿
@{

    var checkNews = false;
    if (Model.LstNews.Count != 0)
    {
        checkNews = true;
    }
}
@section PageStyle{
    <style>
        p {
            padding-top: 15px;
        }

        @@media (max-width: 480px) {
            .triangle #banner, .triangle #banner .banner-bg-item {
                height: 30px !important;
            }
        }
    </style>
}

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
<section id="news-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="fb-share-button" data-href="@HttpContext.Current.Request.Url.OriginalString" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@(HttpContext.Current.Request.Url.OriginalString)" class="fb-xfbml-parse-ignore">Chia sẻ</a></button>

                <div class="fb-like" data-href="@(HttpContext.Current.Request.Url.OriginalString)" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="title-newsdetail">@Model.newItem.Title</h1>
                <div>
                    @Html.Raw(Model.newItem.Description)
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hr-img">
                <img src="/img/cocobay/news-details/hr-img.png" class="hr-img" alt="">
                <h2 class="title-read">@(new UmbracoHelper().GetDictionaryValue("Read more"))</h2>
            </div>
            <div style="clear: both;"></div>
            @if (checkNews)
            {

                foreach (var itemNew in Model.LstNews)
                {

                    <div class="col-sm-3 container1">
                        <a href="@itemNew.UrlNews">
                            <img src="@itemNew.Image.Url" class="img-related" alt="">
                            <a href="@itemNew.UrlNews"><h5 class="title-related" style="max-height: 85px;overflow: hidden;text-overflow: ellipsis;">@itemNew.Title</h5></a>
                            <p style="overflow: hidden; text-overflow: ellipsis;">@itemNew.ShortDescription</p>
                        </a>
                    </div>

                }
            }
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                <button class="btn pinkkoff" id="loadMoreNews">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript">
        AutoLoadMore('.container1', "x", '#loadMoreNews', 4);

        setTimeout(function () {
            $('#banner, #banner .banner-bg, #banner .banner-bg-item').each(function () {
                var $this = $(this);
                $this.css('height', 100);
            });

            $(".banner-bg").hide();
        }, 1000);

    </script>
}
