﻿@inherits UmbracoViewPage<KOKOBAY.Models.NewsModel>


@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
@section HeaderCell{
    <div class="css-table-cell cell-search">
        <div class="container searchresult wow pulse">

            @if (Model.LstEvents.Count > 0)
            {
                <div class="content_header_event">
                    <h6 class="text_header_event">#@(new UmbracoHelper().GetDictionaryValue("Event"))</h6>
                </div>

                <div class="content_header_search">
                    <h1 class="text_header_searchrs1">@Model.LstEvents[0].Title</h1>
                </div>
                <div class="content_header_discover">
                    <a href="@Model.LstEvents[0].UrlNews"> <h6 class="text_header_discover">--> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</h6></a>
                </div>
            }

            //TUCM: 29-12-2018: tạm thời bỏ tìm tin tức theo yêu cầu của Cocobay

            @*<div class="sidebox widget">
                    <form id="formSearch" method="POST" class="default-form search-form">
                        <input type="text" placeholder="Search" id="SearchTerm" name="SearchTerm">
                        <button id="smbutton"><i class="fa fa-search"></i></button>
                    </form>
                </div>*@
        </div>
    </div>
}

@section PageStyle{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            background-color: #FFC107;
            color: #fff !important;
            border-radius: 0 !important;
            margin: 0px;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 20px 35px;
        }

        .tab-content > .active {
            display: block;
            font-family: avo;
            font-weight: 600 !important;
        }

        h3.title-h3, h4.title-h3-1 {
            height: auto;
        }

        img.below-h1 {
            width: 90px;
            height: 7px;
        }

        .wow:first-child {
            visibility: hidden;
        }
    </style>
}


<section id="news-searchresult">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-news-result">
                <div class="row">

                    @if (Model.LstEvents.Count != 0)
                    {
                        for (int i = 1; i < 5; i++)
                        {
                            if (Model.LstEvents.Count > i)
                            {
                                <a href="@Model.LstEvents[i].UrlNews">
                                    <div class="col-sm-3 itemsbaner itemsbaner wow bounceInLeft">
                                        <div class="overlay">
                                            <img src="@Model.LstEvents[i].Image.Url" class="img-header-news1" alt="">
                                            <div class="overlay-shadow">
                                                <div class="overlay-content mod faci">
                                                    <h6 class="project-title">@Model.LstEvents[i].Title</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>
            </div>

            <div class="col-sm-12" style="margin-top: 50px">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content tabshow">
                    <div role="tabpanel" class="tab-pane" id="tab4">Tab 4 content...</div>
                    <div role="tabpanel" class="tab-pane" id="tab2">Tab 2 content...</div>
                    <div role="tabpanel" class="tab-pane" id="tab3">Tab 3 content...</div>
                    <div role="tabpanel" class="tab-pane active" id="tab1">

                        <!-- Tab panes -->
                        <div class="tab-content tabshow">
                            <div role="tabpanel" class="tab-pane" id="tab4">Tab 4 content...</div>
                            <div role="tabpanel" class="tab-pane" id="tab2">Tab 2 content...</div>
                            <div role="tabpanel" class="tab-pane" id="tab3">Tab 3 content...</div>
                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                <section class="news1">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Start Title -->
                                            <div class="col-sm-12 center">
                                                <h1 class="title wow fadeInDown">@Model.LastestNewsTitle</h1>
                                                <p class="wow fadeInDown">@Model.LastestNewsSubtitle</p>
                                                <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
                                            </div>
                                            <!-- End Title -->
                                            @{var count = 0;}
                                            @foreach (var item in Model.LstNews)
                                            {
                                                if (count == 0)
                                                {
                                                    <div class="col-sm-8" style="margin-bottom: 30px;">
                                                        <a href="@item.UrlNews">
                                                            <img src="@item.Image.Url" class="wow fadeInLeft" />
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4 wow fadeInRight">
                                                        <a href="@item.UrlNews">
                                                            <h3 class="title-h3" style="margin-top:0px; margin-bottom: 25px;">@item.Title</h3>
                                                            <p>@item.ShortDescription</p>
                                                        </a>
                                                    </div>
                                                }
                                                else if (count == 1)
                                                {
                                                    <div class="col-sm-3 wow fadeInUp container1" style="clear: both;">
                                                        <a href="@item.UrlNews">
                                                            <img src="@item.Image.Url" style="width:100%;" />
                                                            <h4 class="title-h3-11">@item.Title</h4>
                                                            <p style="overflow: hidden; text-overflow: ellipsis;max-height: 150px;">@item.ShortDescription</p>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-3 wow fadeInUp container1">
                                                        <a href="@item.UrlNews">
                                                            <img src="@item.Image.Url" style="width:100%;" />
                                                            <h4 class="title-h3-11">@item.Title</h4>
                                                            <p style="overflow: hidden; text-overflow: ellipsis;max-height: 150px;">@item.ShortDescription</p>
                                                        </a>
                                                    </div>
                                                }

                                                count++;
                                            }
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                                            <button class="btn pinkkoff wow fadeInUp" id="loadMoreNews">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                                        </div>
                                    </div>
                                </section>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-top: 50px;">
                                            <img src="~/img/cocobay/ccb-news/linebanner.png" class="wow fadeInLeft" />
                                        </div>
                                    </div>
                                </div>
                                <section class="news">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Start Title -->
                                            <div class="col-sm-12 center">
                                                <h1 class="title wow fadeInDown">@Model.PopularNewsTitle</h1>
                                                <p class="wow fadeInDown">@Model.PopularNewsSubtitle</p>
                                                <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
                                            </div>
                                            <!-- End Title -->
                                            @if (Model.LstEvents.Count > 0)
                                            {
                                                <div class="col-sm-6 wow fadeInLeft">
                                                    <a href="@Model.LstNewPopular[0].UrlNews">
                                                        <img src="@Model.LstNewPopular[0].Image.Url" style="width:100%; height:100%;" />
                                                        <h3 class="title-h3">@Model.LstNewPopular[0].Title</h3>
                                                        <p>@Model.LstNewPopular[0].ShortDescription</p>
                                                    </a>
                                                </div>
                                            }
                                            <div class="col-sm-6 wow fadeInRight">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        @if (Model.LstEvents.Count > 1)
                                                        {
                                                            <a href="@Model.LstNewPopular[1].UrlNews">
                                                                <img src="@Model.LstNewPopular[1].Image.Url" style="width: 100%;" />
                                                                <h4 class="title-h3-1">@Model.LstNewPopular[1].Title</h4>
                                                                <p style="overflow: hidden; text-overflow: ellipsis;max-height: 150px;">@Model.LstNewPopular[1].ShortDescription</p>
                                                            </a>
                                                        }
                                                    </div><div class="col-sm-6">
                                                        @if (Model.LstEvents.Count > 2)
                                                        {
                                                            <a href="@Model.LstNewPopular[2].UrlNews">
                                                                <img src="@Model.LstNewPopular[2].Image.Url" style="width: 100%;" />
                                                                <h4 class="title-h3-1">@Model.LstNewPopular[2].Title</h4>
                                                                <p style="overflow: hidden; text-overflow: ellipsis;max-height: 150px;">@Model.LstNewPopular[2].ShortDescription</p>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 19px;">
                                                    <div class="col-sm-6">
                                                        @if (Model.LstEvents.Count > 3)
                                                        {
                                                            <a href="@Model.LstNewPopular[3].UrlNews">
                                                                <img src="@Model.LstNewPopular[3].Image.Url" style="width: 100%;" />
                                                                <h4 class="title-h3-1">@Model.LstNewPopular[3].Title</h4>
                                                                <p style="overflow: hidden; text-overflow: ellipsis;max-height: 150px;">@Model.LstNewPopular[3].ShortDescription</p>
                                                            </a>
                                                        }
                                                    </div>
                                                    <div class="col-sm-6">
                                                        @if (Model.LstEvents.Count > 4)
                                                        {
                                                            <a href="@Model.LstNewPopular[4].UrlNews">
                                                                <img src="@Model.LstNewPopular[4].Image.Url" style="width: 100%;" />
                                                                <h4 class="title-h3-1">@Model.LstNewPopular[4].Title</h4>
                                                                <p style="overflow: hidden; text-overflow: ellipsis; max-height: 150px;">@Model.LstNewPopular[4].ShortDescription</p>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab5">Tab 5 content...</div>
                            <div role="tabpanel" class="tab-pane" id="tab6">Tab 6 content...</div>
                            <div role="tabpanel" class="tab-pane" id="tab7">Tab 7 content...</div>
                        </div>
</section>


@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        AutoLoadMore('.container1', "x", '#loadMoreNews', 4);

        $("#smbutton").click(function (e) {
            window.open('@(UmbracoContext.Current.PublishedContentRequest.Domain.Name)/search?q=' + $("#SearchTerm").val());
        })
    </script>
}
