﻿
@model List<KOKOBAY.Entities.NewsItem>
<div class="container">
    <div class="row" style="padding-bottom: 80px;">
        <div class="col-sm-12 center">
            <img src="~/img/cocobay/quizz/popular.png" />
            <h1 class="title">@(new UmbracoHelper().GetDictionaryValue("RELATED NEWS"))</h1>
            <p>@(new UmbracoHelper().GetDictionaryValue("RELATED NEWS SUB TITLE"))</p>
            <img class="below-p" src="~/img/cocobay/gach-title.PNG" />
        </div>

        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <a href="@item.UrlNews">
                    <img src="@item.Image.Url" class="img-related" alt="">
                    <h5 class="title-related" style="overflow: hidden;text-overflow: ellipsis;">@item.Title</h5>
                    <p style="overflow: hidden; text-overflow: ellipsis; max-height:150px;">@item.ShortDescription</p>
                </a>
            </div>
        }

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
            <a href="@Model[0].Description" style="cursor: default;"><button class="btn pinkkoff">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button></a>
        </div>

    </div>
</div>
