﻿@section PageStyle{
    <style>
        p {
            padding-top: 15px;
        }
    </style>
}
@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}

<section id="news-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="title-newsdetail">@Model.newItem.Title</h1>
                <div>
                    @Html.Raw(Model.newItem.Description)
                </div>
            </div>

        </div>
       
    </div>
</section>
