﻿@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
@section HeaderCell
{
    <div class="css-table-cell">
        <!-- Start Banner-Search -->
        <div class="banner-search">
            <div class="container">
                <div id="hero-tabs" class="banner-search-inner">
                    <ul class="custom-list tab-title-list clearfix"></ul>
                    <ul class="custom-list tab-content-list">

                        <!-- Start Car-trans -->
                        <li class="tab-content active">
                            <form class="default-form">
                                <span class="departure-input calendar">
                                    <label>Check in</label>
                                    <input type="text" id="departure">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <span class="arrival-input calendar">
                                    <label>Check out</label>
                                    <input type="text" id="arrival">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <span class="number1">
                                    <label>Rooms</label>
                                    <div class="quantity">
                                        <input id="numberRooms" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="number1">
                                    <label>Adults</label>
                                    <div class="quantity">
                                        <input id="numberAdults" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="number1">
                                    <label>Children</label>
                                    <div class="quantity">
                                        <input id="numberChildren" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="submit-btn">
                                    <button id="booknow" class="btn orages" type="button">@(new UmbracoHelper().GetDictionaryValue("Book Now"))</button>
                                </span>
                            </form>
                        </li>
                        <!-- End Car-trans -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Banner-Search -->
    </div>
}

<script>
    $("#booknow").click(function () {
        var strfromdate = toDate($("#departure").val());
        var fromdate = strfromdate.getFullYear() + '-' + (strfromdate.getMonth() + 1)+ '-' + strfromdate.getDate();
        var strtodate = toDate($("#arrival").val());
        var todate = strtodate.getFullYear() + '-' + (strtodate.getMonth() + 1) + '-' + strtodate.getDate();
        var numberRooms = $("#numberRooms").val();
        var numberAdults = $("#numberAdults").val();
        var numberChildren = $("#numberChildren").val();
        var url = "https://www.book-secure.com/index.php?s=results&property=vndan31581&arrival=" + fromdate + "&departure=" + todate + "&adults1=" + numberAdults + "&children1=" + numberChildren + "&rooms=" + numberRooms + "&locale=vi_VN&currency=VND&stid=rudx9r2gf";
        window.location.href = url;
    });
    function toDate(dateStr) {
        var parts = dateStr.split("/")
        return new Date(parts[2], parts[1] - 1, parts[0])
    }
</script>

@section PageStyle{
    <style>
        .overlay {
            position: initial;
        }

        h2.project-title {
            font-size: 27px;
        }


        @@media (max-width: 1096px) {
            .col-sm-6.feature {
                width: 100%;
            }
        }

        @@media (min-width: 1366px) and (max-width: 1920px) {
            .overlay-content.mod {
                padding: 100px;
            }
        }

        @@media (min-width: 1199px) and (max-width: 1365px) {
            .overlay-content.mod {
                padding: 50px;
            }
        }

        @@media (min-width: 1097px) and (max-width: 1198px) {
            .overlay-content.mod {
                padding: 25px;
            }

            img.logohotel {
                top: -15px;
                right: 20px;
            }
        }

        @@media (max-width:320px) {
            img.cbg {
                height: auto;
            }
        }

        @@media (min-width: 321px) and (max-width: 375px) {
            img.cbg {
                height: auto;
            }
        }

        @@media (min-width: 376px) and (max-width: 588px) {
            img.cbg {
                height: auto;
            }
        }

        @@media (min-width: 1500px) and (max-width: 1920px) {
            img.logohotel {
                top: -40px;
            }
        }

        @@media (min-width: 991px) and (max-width: 1096px) {
            h2.project-title {
                padding-top: 70px;
            }
        }

        @@media (min-width: 700px) and (max-width: 1096px) {
            h2.project-title {
                padding-top: 70px;
            }
        }

        @@media (min-width: 425px) and (max-width: 699px) {
            img.logohotel {
                top: -14px;
                right: 20px;
            }
        }

        @@media (max-width:480px) {
            img.logohotel {
                top: 0px;
                right: 20px;
            }


            @@media (max-width: 769px) {
                .default-form input[type=text], .default-form input[type=password], .default-form input[type=date], .default-form select, .default-form textarea {
                    font-family: avo !important;
                    padding-left: 11px !important;
                }

                .default-form .calendar i {
                    right: 0px !important;
                    cursor: pointer;
                }
            }
        }
    </style>
}

<!-- Our Offers -->
<section class="offers">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Offers -->
            <div class="col-sm-12 bg-offers">
                <img src="~/img/cocobay/quizz/hotels.png" style="padding-top:60px;">
                <h1 class="title">@Model.Title</h1>
                <p>@Model.SubTitle</p>
                <img class="below-p" src="~/img/cocobay/gach-title.PNG" />
            </div>
        </div>
    </div>
</section>
<!-- End way to ccb -->
<!-- End Title -->
<div class="row" style="margin:0;padding-bottom: 80px;">
    @foreach (var item in Model.LstStay)
    {
        <div class="col-sm-6 feature outer">
            <div class="overlay inner">
                <img class="cbg" src="@item.Image.Url" width="100%" alt="">
                <div class="overlay-shadow">
                    <div class="overlay-content mod">
                        <h2 class="project-title">@item.Title</h2>
                        <p class="subtitlehotel">@item.SubTitle</p>
                        <p>@item.ShortDescription</p>
                        <a href="@item.UrlBooking"><button class="btn subcribtn" style="margin-left: 0px;margin-bottom: 0;margin-top: 10px;">@(new UmbracoHelper().GetDictionaryValue("BOOKING NOW"))</button></a>
                        <a class="readmore" href="@item.UrlStay" target="_blank"><p class="readmore"><i class="fa fa-long-arrow-right"></i>  @(new UmbracoHelper().GetDictionaryValue("Explore Now"))</p> </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Html.Action("GetLastListNews", "LastNews")

@section scripts{

    <script>
        jQuery('<div class="quantity-nav1"><div class="quantity-button quantity-up">+</div></div><div class="quantity-nav"><div class="quantity-button quantity-down">-</div></div>').insertAfter(".quantity input"), jQuery(".quantity").each(function () { var t = jQuery(this), i = t.find('input[type="number"]'), n = t.find(".quantity-up"), a = t.find(".quantity-down"), u = i.attr("min"), r = i.attr("max"); n.click(function () { var n = parseFloat(i.val()); if (n >= r) a = n; else var a = n + 1; t.find("input").val(a), t.find("input").trigger("change") }), a.click(function () { var n = parseFloat(i.val()); if (n <= u) a = n; else var a = n - 1; t.find("input").val(a), t.find("input").trigger("change") }) });

        var dd = (today = new Date).getDate(), mm = today.getMonth() + 1, yyyy = today.getFullYear(); dd < 10 && (dd = "0" + dd), mm < 10 && (mm = "0" + mm); var today = dd + "/" + mm + "/" + yyyy; document.getElementById("arrival").placeholder = today, document.getElementById("departure").placeholder = today;




    </script>
}