﻿@inherits UmbracoViewPage<KOKOBAY.Models.FeastDetailModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.CurrentFeastDetail.FeastDetailImage.Url" width="100%" /></div>
}

@section HeaderCell
{
    <div class="css-table-cell">
        <div class="col-sm-12 logobanner-offers wow shake">
            <img class="img-logobanner-offers" src="@Model.CurrentFeastDetail.FeastIntroImage.Url" />
            <h2 class="title-feast">@Model.CurrentFeastDetail.FeastIntroTitle</h2>
            <img class="below-h1" src="~/img/cocobay/ccb-shopping2/gach-trang.png" />
            <p class="description-banner">@Model.CurrentFeastDetail.FeastIntroSubTitle</p>
        </div>
    </div>
}



@section PageStyle{
    <style type="text/css" media="screen">
        #essentials .tab-content-list {
            position: relative;
            padding: 30px 0;
        }

        .banner-bg-item {
            background-color: #000;
        }

        .css-table-cell {
            display: table-cell;
            vertical-align: middle;
        }

        .tab-content1 img {
            position: relative;
            height: auto;
            width: 100%;
            object-fit: cover;
            top: 0;
            right: 0;
        }

        .col-sm-12 {
            position: relative;
            min-height: 1px;
            padding-right: 6px;
            padding-left: 5px;
        }

        .owl-theme .owl-controls {
            margin-top: 30px;
            text-align: center;
        }

        .enable-fixed-header #header .header-inner {
            position: fixed;
            z-index: 9999;
        }

        html {
            margin-right: 0 !important;
            overflow: inherit !important;
        }

        #open-popup {
            padding: 20px;
        }

        label.form-label {
            color: #5ebdd1;
        }

        .form-control {
            color: #fff;
            background-color: #fff0;
        }

        h3.title-projects {
            color: #fff;
        }

        .mfp-close-btn-in .mfp-close {
            color: #FF9800;
            font-size: 4em;
            opacity: .9;
            top: 20px;
        }

        p.sub-titlte-projects {
            color: #E91E63;
        }

        .mfp-container {
            padding: 0 100px;
        }

        @@media (max-width:991px) {
            .mfp-container {
                padding: 0 15px;
            }
        }

        .mfp-wrap,
        .mfp-bg {
            z-index: 99999 !important;
        }

        .wow:first-child {
            visibility: hidden;
        }

        @@media screen and (max-width: 1200px) {
            img.prestay4 {
                margin-top: 160px;
                margin-left: 0px;
            }
        }

        @@media (min-width: 800px) {
            .leftmg {
                margin-left: 41%;
            }
        }

        @@media (max-width: 480px) {
            .triangle #banner, .triangle #banner .banner-bg-item {
                height: 300px !important;
            }
        }
    </style>
}
<div class="container-fluid">
    <div class="row wow pulse">
        <div class="col-sm-12 widget-call ">
            <div class="col-sm-5 center call-us-now-col">
                <div class="col-sm-6 icon-img-call col-textphone">
                    <img class="imgtop" src="/img/cocobay/ccb-feast2/1.png" />
                </div>
                <div class="col-sm-6 center col-phone">
                    <p class="call">
                        @(new UmbracoHelper().GetDictionaryValue("CALL US NOW")):
                        <br />
                        <span class="sdt">@Model.CurrentFeastDetail.FeastDetailCallNumber</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-2 center">
                @*<img class="or" src="/img/cocobay/ccb-feast2/or.png" style="padding: 8px;" />*@
            </div>
            <div class="col-sm-5 center">
                <a class="open-popup" href="#my-popup" data-rest="@Model.CurrentFeastDetail.FeastListTitle">
                    <button class="btn book">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</button>
                </a>
                <img class="imgtop1" src="/img/cocobay/ccb-feast2/2.png" />
            </div>
        </div>
    </div>
</div>
<!-- Our stay4 -->
<section class="feast-detail">
    <div class="container-fluid">
        <div class="row">
            <!-- Start stay4 -->
            <div class="col-sm-12 bg-stay4 wow fadeInDown">
                <img src="/img/cocobay/ccb-feast2/restaurant.png" style="padding-top:60px;">
                <h1 class="title">@Model.CurrentFeastDetail.FeastDetailTitle</h1>
                <p>@Model.CurrentFeastDetail.FeastDetailSubtitle</p>
                <img class="below-p" src="/img/cocobay/gach-title.PNG" />
            </div>
        </div>
    </div>
</section>
<!-- Start Banner -->
<section class="banner" id="slide">

    <div class="container">
        <div class="row">
            <div id="carousel-id" class="carousel slide wow fadeInLeft" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    @if (Model.CurrentFeastDetail.FeastDetailImagesGallery != null && Model.CurrentFeastDetail.FeastDetailImagesGallery.Count() > 1)
                    {
                        for (int i = 0; i < Model.CurrentFeastDetail.FeastDetailImagesGallery.Count(); i++)
                        {
                            <li data-target="#carousel-id" data-slide-to="@i"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @if (Model.CurrentFeastDetail.FeastDetailImagesGallery != null)
                    {
                        foreach (var item in Model.CurrentFeastDetail.FeastDetailImagesGallery)
                        {
                            var Images = item.GetPropertyValue<string>("Image").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                            var lstImage = Umbraco.TypedMedia(Images).Where(x => x != null).FirstOrDefault();

                            var SaleOffPercent = item.GetPropertyValue<string>("saleOffPercent");
                            var SaleOffTitle = item.GetPropertyValue<string>("saleOffTitle");
                            var SaleOffDescription = item.GetPropertyValue<string>("saleOffDescription");
                            var SaleOffLink = item.GetPropertyValue<string>("saleOffLink");
                            var ativ = item == Model.CurrentFeastDetail.FeastDetailImagesGallery.FirstOrDefault() ? "active" : "next";

                            <div class="item @ativ">
                                <a href="@SaleOffLink" target="_blank">
                                <img src="@lstImage.Url" width="100%">
                                </a>
                            </div>
                        }
                    }
                </div>
                @if (Model.CurrentFeastDetail.FeastDetailImagesGallery.Count() > 1)
                {
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev">
                        <img class="prestay4" src="/img/cocobay/left.png" alt="">
                    </a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next">
                        <img class="prestay41" src="/img/cocobay/right.png" alt="">
                    </a>
                }
            </div>
        </div>
    </div>


</section>
<!-- End Banner -->



<section class="feast-detail">
    <div class="container">
        <div class="row">
            <div class="termino">
                <!-- Start Testimonials -->
                <section class="testimonials feast">
                    <div class="container">
                        <div class="row">
                            <div id="owl-testimonials" class="owl-carousel owl-theme wow fadeInRight">
                                @if (Model.CurrentFeastDetail.FeastDetailTestimonials != null)
                                {
                                    foreach (var item in Model.CurrentFeastDetail.FeastDetailTestimonials)
                                    {
                                        var TestimonialName = item.GetPropertyValue<string>
                                            ("testimonialName");
                                        var TestimonialSubtitle = item.GetPropertyValue<string>
                                            ("testimonialSubtitle");
                                        var TestimonialDescription = item.GetPropertyValue<string>
                                            ("testimonialDescription");
                                        var ImageUrl = "";
                                        if (item.GetPropertyValue<IPublishedContent>("TestimonialImage") != null)
                                        {
                                            ImageUrl = item.GetPropertyValue<IPublishedContent>("TestimonialImage").Url;
                                        }
                                        <div class="item">
                                            <div class="col-sm-8 content">
                                                <div class="quote">
                                                    <h3 class="name">@TestimonialName</h3>
                                                    <p class="jobtes">@TestimonialSubtitle</p>
                                                    <br>
                                                    <i class="fa-quote-left"></i>
                                                    <p class="call">
                                                        @Html.Raw(TestimonialDescription)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="@ImageUrl" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Testimonials -->
            </div>
            <div class="col-sm-5 wow fadeInLeft holy-pig-menu">
                <div class="text-feastslide">
                    <h3 class="title-play2">@Model.CurrentFeastDetail.FeastDetailMenuTitle</h3>
                    <p>
                        @Html.Raw(Model.CurrentFeastDetail.FeastDetailMenuDescription)
                    </p>
                    <center>
                        <button formtarget="_blank" onclick="window.open('@Model.CurrentFeastDetail.FeastUrlRedirect')" class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</button>
                    </center>
                </div>
            </div>
            <div class="col-sm-7 wow slider-fest-details">
                <form>
                    <div class="s-wrap s-type-1" role="slider">
                        @for (int i = 0; i < Model.CurrentFeastDetail.FeastDetailMenuGallery.Count(); i++)
                        {
                            <input type="radio" id="s-2@(i+1)" name="slider-control" checked="checked">
                        }
                        <ul class="s-content">
                            @for (int i = 0; i < Model.CurrentFeastDetail.FeastDetailMenuGallery.Count(); i++)
                            {
                                <li class="s-item s-item-2@(i+1)"><img src="@Model.CurrentFeastDetail.FeastDetailMenuGallery[i].Url" class="imgslid"></li>
                            }
                        </ul>
                        <div class="s-control">
                            @for (int i = 0; i < Model.CurrentFeastDetail.FeastDetailMenuGallery.Count(); i++)
                            {
                                <label class="s-c-2@(i+1)" for="s-2@(i+1)"></label>
                            }
                        </div>
                        <div class="s-nav">
                            @for (int i = 0; i < Model.CurrentFeastDetail.FeastDetailMenuGallery.Count(); i++)
                            {
                                <label class="s-nav-2@(i+1) right" for="s-2@(i<Model.CurrentFeastDetail.FeastDetailMenuGallery.Count()-1?i+2:1)"></label>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div class="container-fluid">
    <div class="row gallery">
        <!-- Start Title -->
        <div class="col-sm-12 center wow fadeInDown">
            <img src="/img/cocobay/ccb-feast-detail/VIDEO.png" />
            <br>
            <h1 class="title">@(new UmbracoHelper().GetDictionaryValue("GALLERY"))</h1>
            <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
        </div>
        <!-- End Title -->
        <section id="essentials">
            <div class="container-fluid" style="padding:0">
                <!-- Start Tabs-Container -->
                <div class="tabs-container essentials-tabs-container">
                    <ul class="custom-list tab-title-list leftmg">
                        <li class="tab-title active">
                            <a href="#maps">PHOTOS</a>
                        </li>
                        <li class="tab-title">
                            <a href="#fleets">VIDEOS</a>
                        </li>
                    </ul>
                    <ul class="custom-list tab-content-list">
                        <!-- Start Map -->
                        <li class="tab-content tab-content1 active">
                            <ul class="lb-album">
                                @{
                                    var mImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("FeastDetailGalleryPhotos");
                                    if (mImages != null)
                                    {
                                        foreach (var item in mImages)
                                        {
                                            <div class="col-sm-3 feature1 wow fadeInRight container1">
                                                <li>
                                                    <a href="#image-@item.SortOrder">
                                                        <img src="@item.Url" class="slm1" alt="image@(item.SortOrder)">
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="lb-overlay" id="image-@item.SortOrder">
                                                <img src="@item.Url" alt="image@(item.SortOrder)" class="close-img" />
                                                <a href="#page" class="lb-close">x Close</a>
                                            </div>
                                        }
                                    }
                                }
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                                    <a href="#" style="cursor: default;">
                                        <button id="loadMoreFacility" class="btn pinkkoff wow fadeInUp">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                                    </a>
                                </div>
                            </ul>
                        </li>
                        <!-- End Map -->
                        <!-- Start Fleet Items -->
                        <li class="tab-content tab-content1">
                            <ul class="lb-album">
                                @{
                                    var nImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("FeastDetailGalleryVideos");
                                    if (nImages != null)
                                    {
                                        foreach (var item in nImages)
                                        {
                                            <div class="col-sm-3 feature1 wow fadeInRight">
                                                <li>
                                                    <a href="#image-8">
                                                        <img src="@item.Url" class="slm1" alt="image08">
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="lb-overlay" id="image-8">
                                                <img src="@item.Url" alt="image08" class="close-img" />
                                                <a href="#page" class="lb-close">x Close</a>
                                            </div>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End Tabs Container -->
            </div>
        </section>
    </div>
</div>

<br />

@Html.Action("GetLastListNews", "LastNews")


@section Scripts{

    <script>
        AutoLoadMore('.container1', "x", '#loadMoreFacility', 8);

        (function () {
            'use strict';
            $(activate);
            function activate() {
                $('.nav-tabs').scrollingTabs();
            }

        }());
    </script>
}

