﻿@inherits UmbracoViewPage<KOKOBAY.Models.FeastModel>

@section HeaderBanner{
    @if (Model.FeastImageBanner != null)
    {
        <div class="banner-bg-item"><img src="@Model.FeastImageBanner.Url" width="100%" /></div>
    }
}

@section PageStyle{
}
<div class="container-fluid">
    <div class="row wow pulse">
        <div class="col-sm-12 widget-call ">
            <div class="col-sm-5 center call-us-now-col">
                <div class="col-sm-6 icon-img-call col-textphone"><img class="imgtop" src="/img/cocobay/ccb-feast2/1.png" /> </div>
                <div class="col-sm-6 center col-phone"><p class="call">@(new UmbracoHelper().GetDictionaryValue("CALL US NOW")): <br /><span class="sdt">@Model.FeastCallNumber</span></p></div>
            </div>
            <div class="col-sm-2 center">@*<img class="or" src="/img/cocobay/ccb-feast2/or.png" style="padding: 8px;" />*@ </div>
            <div class="col-sm-5 center">
                <a class="open-popup" href="#my-popup">
                    <button class="btn book">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</button>
                </a>
                @*<a id="open-popup" class="btn book" href="#PopupBookingFeast">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</a>
                    <button type="button" class="btn book" data-toggle="modal" data-target="#myModal">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</button>*@

                <img class="imgtop1" src="/img/cocobay/ccb-feast2/2.png" />
            </div>
        </div>
    </div>
</div>
<!-- Our stay4 -->
<section class="feast2">
    <div class="container-fluid">
        <div class="row">
            <!-- Start stay4 -->
            <div class="col-sm-12 bg-stay4 ">
                <img src="/img/cocobay/ccb-feast2/restaurant.png" class="wow fadeInDown" style="padding-top:60px;">
                <h1 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.FeastTitle</span></h1>
                <p class="wow fadeInDown">@Model.FeastSubtitle</p>
                <img class="below-p wow fadeInDown" src="/img/cocobay/gach-title.PNG" />
            </div>
        </div>
    </div>
</section>

<div class="row" style="margin:0;padding-bottom: 80px;">
    @if (Model.LstFeasts != null)
    {
        foreach (var item in Model.LstFeasts)
        {
            <div class="col-sm-6 feature outer container1">
                <div class="overlay inner">
                    <img class="cbg" src="@(item.FeastListImage!=null?item.FeastListImage.Url:"")" width="100%" alt="">
                    <div class="overlay-shadow">
                        <div class="overlay-content mod">
                            <h2 class="project-title">@item.FeastListTitle</h2>
                            <p class="subtitlehotel">@item.FeastListSubtile</p>
                            <p>@Html.Raw(item.FeastListDescription)</p>
                            <a class="open-popup" href="#my-popup" data-rest="@item.FeastListTitle">
                                @if (Model.DisplayBooking == true)
                                {
                                    <button class="btn subcribtn" style="margin-left: 0px;margin-bottom: 0;margin-top: 10px;">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</button>
                                }
                            </a>
                            <a class="readmore" href="@item.FeastURL">
                                <p class="readmore"><i class="fa fa-long-arrow-right"></i>@(new UmbracoHelper().GetDictionaryValue("Explore Now"))</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
            <button class="btn pinkkoff wow fadeInUp" id="loadMoreFacility">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
        </div>

    }
</div>

@Html.Action("GetLastListNews", "LastNews")




@*@Html.Partial("~/Views/Booking/Booking.cshtml", new KOKOBAY.Entities.BookingItem())*@
@*@Html.Partial("Booking", "Booking", new KOKOBAY.Entities.BookingItem() )*@


<!-- Modal -->
@section Scripts{

    <script>
        AutoLoadMore('.container1', "x", '#loadMoreFacility', 6);
    </script>


    <script>
        (function () {
            'use strict';
            $(activate);
            function activate() {
                $('.nav-tabs').scrollingTabs();
            }

        }());
    </script>

}

