﻿@inherits UmbracoViewPage<KOKOBAY.Models.ContactModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.Current.ContactHeaderBanner.Url" alt=""></div>
}

@section HeaderCell{
    <div class="css-table-cell cell-contact">
        <div class="content_header_contact wow pulse">
            @if (Model.Current.ContactHeaderBannerLogo != null)
            {
                <img src="@Model.Current.ContactHeaderBannerLogo.Url" alt="">
            }
        </div>
        <div class="text_header_contact wow pulse">
            @if (Model.Current.ContactHeaderBannerText != null)
            {
                <img src="@Model.Current.ContactHeaderBannerText.Url" alt="">
            }
        </div>
    </div>
}
@section PageStyle{
    <style type="text/css" media="screen">
        .wow:first-child {
            visibility: hidden;
        }

        @@media (max-width:480px) {
            
            .content_header_contact {
                margin-top: 100px;
            }
        }
    </style>

}

<section id="contact2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="subtitle-content-contact wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("CONTACT US"))</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="title-content-contact wow fadeInDown">@Model.Current.ContactTitle</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="endtitle-content-contact wow fadeInDown">@Model.Current.ContactSubtitle</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    @if (Model.Current.ContactOffices != null)
                    {
                        foreach (var item in Model.Current.ContactOffices)
                        {
                            var ContactOfficeName = item.GetPropertyValue<string>("ContactOfficeName");
                            var ContactOfficeAddress = item.GetPropertyValue<string>("ContactOfficeAddress");
                            var ContactOfficeTel = item.GetPropertyValue<string>("ContactOfficeTel");
                            var ContactOfficeTax = item.GetPropertyValue<string>("ContactOfficeTax");
                            var ContactOfficeHotline = item.GetPropertyValue<string>("ContactOfficeHotline");
                            var ContactOfficeEmail = item.GetPropertyValue<string>("ContactOfficeEmail");

                            var ativ = ContactOfficeName.Contains("Da Nang") ? "danang" : ContactOfficeName.Contains("Ha Noi") ? "hanoi" : "hochiminh";

                            <div class="col-sm-4 padding-address wow fadeInRight">
                                <div class="address-@ativ">
                                    <h3 class="title-@ativ">@ContactOfficeName</h3>
                                    <p>@ContactOfficeAddress</p>
                                    @if (ContactOfficeTel != null && ContactOfficeTel!="")
                                    {
                                        <p><span class="color-title-contact">Tel</span>@ContactOfficeTel</p>
                                    }
                                    @if (ContactOfficeTax != null && ContactOfficeTax != "")
                                    {
                                        <p><span class="color-title-contact">Fax</span>@ContactOfficeTax</p>
                                    }
                                 @if (ContactOfficeHotline != null && ContactOfficeHotline != "")
                                 {
                                        <p><span class="color-title-contact">Hotline</span>@ContactOfficeHotline</p>
                                    }
                                 @if (ContactOfficeEmail != null && ContactOfficeEmail != "")
                                 {
                                        <p><span class="color-title-contact">Email</span>@ContactOfficeEmail</p>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>