﻿@inherits UmbracoViewPage<KOKOBAY.Models.HomeViewModel>
@{
    Layout = "Layout.cshtml";
}

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
@section HeaderCell
{
    <div class="css-table-cell">
        <!-- Start Banner-Search -->
        <div class="banner-search">
            <div class="container">
                <div id="hero-tabs" class="banner-search-inner">
                    <ul class="custom-list tab-title-list clearfix"></ul>
                    <ul class="custom-list tab-content-list">

                        <!-- Start Car-trans -->
                        <li class="tab-content active">
                            <form class="default-form">
                                <span class="departure-input calendar">
                                    <label>Check in</label>
                                    <input type="text" id="departure">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <span class="arrival-input calendar">
                                    <label>Check out</label>
                                    <input type="text" id="arrival">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <span class="number1">
                                    <label>Rooms</label>
                                    <div class="quantity">
                                        <input id="numberRooms" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="number1">
                                    <label>Adults</label>
                                    <div class="quantity">
                                        <input id="numberAdults" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="number1">
                                    <label>Children</label>
                                    <div class="quantity">
                                        <input id="numberChildren" type="number" min="1" max="9" step="1" value="1">
                                    </div>
                                </span>
                                <span class="submit-btn">
                                    <button id="booknow" class="btn orages" type="button">@(new UmbracoHelper().GetDictionaryValue("Book Now"))</button>
                                </span>
                            </form>
                        </li>
                        <!-- End Car-trans -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Banner-Search -->
    </div>
}

@section PageStyle{
    <style>
        h2.project-title {
            font-size: 27px;
        }

        .title-h3-1 {
            height: 100% !important;
        }

        ol.carousel-indicators {
            display: none;
        }

        .carousel-control:hover, .carousel-control:focus {
            color: #fff;
            background: #f5deb300;
        }

        a.left.carousel-control {
            background: #ffffff00;
        }

        a.right.carousel-control {
            background: #ffffff00;
        }

        .carousel-control {
            opacity: 1;
        }

        h2.project-title {
            font-size: 27px;
        }

        @@media (max-width:480px) {
            .triangle #banner, .triangle #banner .banner-bg, .triangle #banner .banner-bg-item {
                height: 519px !important;
            }
        }

        .wow:first-child {
            visibility: hidden;
        }

        @@media (max-width: 768px) {
            .default-form input[type=text], .default-form input[type=password], .default-form input[type=date], .default-form select, .default-form textarea {
                font-family: avo !important;
                padding-left: 11px !important;
            }

            .default-form .calendar i {
                right: 0px !important;
                cursor: pointer;
            }
        }

        @@media screen and (max-width: 768px) and (min-width: 426px) {
            img.prestay41 {
                margin-top: 150px;
                margin-right: 0px;
            }

            img.prestay4 {
                margin-top: 150px;
                margin-left: 0px;
            }
        }
    </style>
}

<section class="offers">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Offers -->
            <div class="col-sm-12 bg-offers ">
                <img src="/img/cocobay/offers.PNG" style="padding-top:60px;" class="wow fadeInDown">
                <h1 class="title  wow fadeInDown">@Model.TitleOffer</h1>
                <p class="wow fadeInDown">@Model.SubTitleOffer</p>
                <img class="below-p" src="~/img/cocobay/gach-title.PNG" />
            </div>
        </div>
    </div>
</section>
<!-- Start Banner -->
<section class="banner wow fadeInDown" id="slide">
    <div class="container">
        <div class="row">
            <div id="carousel-id" class="carousel slide wow fadeInLeft" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                    @if (Model.ImageHomeoffers != null && Model.ImageHomeoffers.Count() > 1)
                    {
                        for (int i = 0; i < Model.ImageHomeoffers.Count(); i++)
                        {
                            <li data-target="#carousel-id" data-slide-to="@i"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @{ var count = 0;}

                    @foreach (var item in Model.ImageHomeoffers)
                    {
                        if (count == 0)
                        {
                            <div class="item active">
                                @*TODO Truongtv*@
                                @*<div class="content-banner">
                                        <h2>@item.GetPropertyValue("title") </h2><img class="mobgf" src="@Model.LstImageHomeoffers[count].Url" /><h2 class="subtitlesale">@item.GetPropertyValue("subTitle")</h2>
                                        <p class="text-sale">
                                            @item.GetPropertyValue("shortDescription")

                                        </p>
                                    </div>*@
                                @if (Model.LstImageHomeoffers.Count >= count + 1)
                                {
                                    if (Model.LstImageHomeoffers[count] != null)
                                    {
                                        <a href="@item.GetPropertyValue("urlRedirect")"><img src="@Model.LstImageHomeoffers[count].Url" style="width:100%"></a>
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                @*TODO Truongtv*@
                                @*<div class="content-banner">
                                        <h2>@item.GetPropertyValue("title") </h2><img class="mobgf" src="@Model.LstImageHomeoffers[count].Url" /><h2 class="subtitlesale">@item.GetPropertyValue("subTitle")</h2>
                                        <p class="text-sale">
                                            @item.GetPropertyValue("shortDescription")

                                        </p>
                                    </div>*@
                                @if (Model.LstImageHomeoffers.Count >= count + 1)
                                {
                                    if (Model.LstImageHomeoffers[count] != null)
                                    {
                                        <a href="@item.GetPropertyValue("urlRedirect")"><img src="@Model.LstImageHomeoffers[count].Url" style="width:100%"></a>
                                    }
                                }
                            </div>
                        }
                        count++;
                    }

                </div>
                @if (Model.LstImageHomeoffers.Count() > 1)
                {
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><img class="prestay4" src="~/img/cocobay/left.png" alt=""></a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next"><img class="prestay41" src="~/img/cocobay/right.png" alt=""></a>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->
<!-- Start News -->
<section class="news">
    <div class="container">
        <div class="row">
            <!-- Start Title -->
            <div class="col-sm-12 center">
                <img src="~/img/cocobay/news.PNG" class="wow fadeInDown" /><br>
                <h1 class="title wow fadeInDown">
                    <span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        @(new UmbracoHelper().GetDictionaryValue("LATEST NEWS"))
                    </span>
                </h1>
                <p class="wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("LATEST NEWS SUB TITLE"))</p>
                <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
            </div>
            <!-- End Title -->

            <div class="col-sm-6 wow fadeInLeft">
                <a href="@Model.LstNews[0].UrlNews">
                    <img src="@Model.LstNews[0].Image.Url" style="width:100%" />
                    <h4 class="title-h3-11">@Model.LstNews[0].Title</h4>
                    <p>@Model.LstNews[0].ShortDescription</p>

                </a>
            </div>

            <div class="col-sm-6 wow fadeInRight">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="@Model.LstNews[1].UrlNews">
                            <img src="@Model.LstNews[1].Image.Url" style="width:100%" />
                            <h4 class="title-h3-11">@Model.LstNews[1].Title</h4>
                            <p style="overflow: hidden; text-overflow: ellipsis; max-height: 150px;">@Model.LstNews[1].ShortDescription</p>
                        </a>
                    </div>

                    <div class="col-sm-6">
                        <a href="@Model.LstNews[2].UrlNews">
                            <img src="@Model.LstNews[2].Image.Url" style="width:100%" />
                            <h4 class="title-h3-11">@Model.LstNews[2].Title</h4>
                            <p style="overflow: hidden; text-overflow: ellipsis; max-height: 150px;">@Model.LstNews[2].ShortDescription</p>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 19px;">
                    <div class="col-sm-6">
                        <a href="@Model.LstNews[3].UrlNews">
                            <img src="@Model.LstNews[3].Image.Url" style="width:100%" />
                            <h4 class="title-h3-11">@Model.LstNews[3].Title</h4>
                            <p style="overflow: hidden; text-overflow: ellipsis; max-height: 150px;">@Model.LstNews[3].ShortDescription</p>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Model.LstNews[4].UrlNews">
                            <img src="@Model.LstNews[4].Image.Url" style="width:100%" />
                            <h4 class="title-h3-11">@Model.LstNews[4].Title</h4>
                            <p style="overflow: hidden; text-overflow: ellipsis; max-height: 150px;">@Model.LstNews[4].ShortDescription</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                <a href="@Model.UrlNews" style="cursor: default;"><button class="btn pinkkoff wow fadeInUp">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button></a>
            </div>
        </div>
    </div>
</section>
<!-- End News -->
@if (Model.DisplayInHomeProject == true)
{
    <!-- Start Projects -->
    <section class="projects">
        <div class="container-fluid ">
            <div class="row">
                <!-- Start Title -->
                <div class="col-sm-12 center">
                    <img src="~/img/cocobay/projects.PNG" class="wow fadeInDown" /><br>
                    <h1 class="title wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("COCOBAY PROJECTS"))</h1>
                    <p class="wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("COCOBAY PROJECTS SUB TITLE"))</p>
                    <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
                </div>
                <!-- End Title -->


                <div class="container-fluid">
                    <div class="row" style="margin:-15px;">
                        @if (Model.LstProjects != null)
                        {
                            foreach (var item in Model.LstProjects)
                            {
                                <div class="col-sm-4 feature wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                    <div class="overlay">
                                        <img src="@item.ProjectImageSlider.FirstOrDefault().Url" style="width:100%" alt="">
                                        <div class="overlay-shadow">

                                            <div class="overlay-content mod">
                                                <h2 class="project-title">@item.ProjectTitle</h2>
                                                <p>@Html.Raw(item.ProjectDescription)</p>

                                                <a class="readmore" href="@item.ProjectURL"></a><p class="readmore"><a class="readmore" href="@item.ProjectURL"><i class="fa fa-long-arrow-right"></i> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-sm-12 feature wow fadeInUp">
                    <img src="@Model.HomeImageBackGround.Url" style="width:100%" alt="">
                    <div class="buttoncong"></div>
                    <div class="buttoncong1"></div>
                    <div class="buttoncong2"></div>
                    <div class="buttoncong3"></div>
                    <div class="buttoncong4"></div>
                    <div class="buttoncong5"></div>
                    <div class="buttoncong6"></div>
                    <div class="buttoncong7"></div>
                    <div class="buttoncong0"></div>
                </div>

                @if (Model.DisplayInHome == true)
                {
                    <div class="col-sm-12 bg-app feature">
                        <div class="paddingimg">
                            <div class="col-sm-8 content">
                                <h2 class="wow fadeInDown">@Model.AppTitle</h2>
                                <h3 class="subtitle-app wow fadeInDown">@Model.AppSubTitle</h3>
                                <p class="wow fadeInDown">@Model.AppShortDescription</p>

                            </div>
                            <div class="col-xs-6 col-sm-8 content width-download">
                                <a href="@Model.AppLinkIOS" onClick="alert('App đang trong quá trình cập nhật!')" class="download-app">
                                    <img src="/img/cocobay/button-App-Store-Icon.png" class="button-download" alt="">
                                </a>
                                <a href="@Model.AppLinkAndroid" onClick="alert('App đang trong quá trình cập nhật!')" class="download-app">
                                    <img src="/img/cocobay/google-play-white.png" class="button-download" alt="">
                                </a>
                                <div class="clear"></div>
                            </div>
                            <div class="col-sm-6 col-sm-4 wow fadeInDown "><img src="~/img/cocobay/2.png" class="../img-download" alt=""></div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
}
<!-- End Projects -->
<!-- Start way to ccb -->
<section class="ways">
    <div class="container">
        <div class="row">
            <!-- Start Title -->
            <div class="col-sm-12 center">
                <img src="~/img/cocobay/ways.PNG" class="wow fadeInDown" /><br>
                <h1 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@(new UmbracoHelper().GetDictionaryValue("WAYS TO COCOBAY"))</h1>
                <p class="wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("WAYS TO COCOBAY SUB TITLE"))</p>
                <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
            </div>
            <!-- End Title -->
            <section id="essentials">
                <div class="container">
                    <!-- Start Tabs-Container -->
                    <div class="tabs-container essentials-tabs-container">
                        <ul class="custom-list tab-title-list leftmg">
                            <li class="tab-title active"><a href="#maps">@(new UmbracoHelper().GetDictionaryValue("BY COCOBUS"))</a></li>
                            <li class="tab-title li-by-taxi"><a href="#fleets" class="by-taxi">@(new UmbracoHelper().GetDictionaryValue("BY TAXI"))</a></li>
                        </ul>
                        <ul class="custom-list tab-content-list">
                            <!-- Start Map -->
                            <li class="tab-content tab-content1 active">
                                <div class="sub-content11 wow fadeInLeft">
                                    <div class="content-mapbox">
                                        <span class="tittle-mapbox11">@(new UmbracoHelper().GetDictionaryValue("DA NANG RAILWAY STATION"))</span>
                                        <div class="address-map1">
                                            <ul style="padding: 0;">
                                                <li style="color:#fff">@(new UmbracoHelper().GetDictionaryValue("WAY BUSTOP LEDUAN"))</li>
                                                <div class="about-map11"><span class="tittle-mapbox-color11">N2 - Da Nang City Tour</span></div>
                                                <li style="color:#fff">@(new UmbracoHelper().GetDictionaryValue("WAY BUSTOP MYKHE"))</li>
                                                <div class="about-map11"><span class="tittle-mapbox-color11">N1 - Cocobay Beach Tour</span></div>
                                                <li style="color:#fff">COCOBAY</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-content22 wow fadeInLeft">
                                    <div class="content-mapbox">
                                        <span class="tittle-mapbox">@(new UmbracoHelper().GetDictionaryValue("DA NANG AIRPORT"))</span>
                                        <div class="address-map">
                                            <ul style="padding: 0;">
                                                <li>@(new UmbracoHelper().GetDictionaryValue("WAY BUSTOP AIRPOT"))</li>
                                                <div class="about-map"><span class="tittle-mapbox-color">N1 - Cocobay Beach Tour</span></div>
                                                <li>COCOBAY</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="arrow-right22"></div>
                                </div>
                                <iframe class="map-home" src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d15343.074433326225!2d108.28287400058149!3d15.973455703144163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e0!4m5!1s0x314219a273df52d1%3A0xb203f9fca295071a!2zRGEgTmFuZyBJbnRlcm5hdGlvbmFsIEFpcnBvcnQsIER1eSBUw6JuLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmc!3m2!1d16.0552876!2d108.2013468!4m4!2zMTXCsDU4JzAxLjMiTiAxMDjCsDE3JzA1LjMiRQ!3m2!1d15.967027799999999!2d108.2848056!5e0!3m2!1svi!2s!4v1516272058807" width="900" height="500" frameborder="0" style="border:0; float: right;position: relative;" allowfullscreen></iframe>
                            </li>
                            <!-- End Map -->
                            <!-- Start Fleet Items -->
                            <li class="tab-content tab-content1">
                                <div class="sub-content1">
                                    <div class="content-mapbox">
                                        <span class="tittle-mapbox"></span>
                                        <div class="address-map">
                                            <ul style="padding: 0;">
                                                <li>@(new UmbracoHelper().GetDictionaryValue("DA NANG RAILWAY STATION"))</li>
                                                <div class="about-map"><span class="tittle-mapbox-color">@(new UmbracoHelper().GetDictionaryValue("WAY STATION ABOUT")) </span></div>
                                                <li>COCOBAY</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-content2">
                                    <div class="content-mapbox">
                                        <span class="tittle-mapbox">@(new UmbracoHelper().GetDictionaryValue("DA NANG AIRPORT"))</span>
                                        <div class="address-map">
                                            <ul style="padding: 0;">
                                                <li>@(new UmbracoHelper().GetDictionaryValue("DA NANG AIRPORT"))</li>
                                                <div class="about-map"><span class="tittle-mapbox-color">@(new UmbracoHelper().GetDictionaryValue("WAY AIRPORT ABOUT"))</span></div>
                                                <li>COCOBAY</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="arrow-right"></div>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.38461326684!2d108.28331698546893!3d15.967062068407495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142105537c77b21%3A0x820e1cd980ecf08d!2sCocobay+Da+Nang%2C+Vietnam!5e0!3m2!1sen!2sus!4v1546159413270" width="900" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

                            </li>
                        </ul>
                    </div>
                    <!-- End Tabs Container -->

                </div>
            </section>
        </div>
    </div>
</section>

@section scripts{
    <script>
        jQuery('<div class="quantity-nav1"><div class="quantity-button quantity-up">+</div></div><div class="quantity-nav"><div class="quantity-button quantity-down">-</div></div>').insertAfter(".quantity input"), jQuery(".quantity").each(function () { var t = jQuery(this), i = t.find('input[type="number"]'), n = t.find(".quantity-up"), a = t.find(".quantity-down"), u = i.attr("min"), r = i.attr("max"); n.click(function () { var n = parseFloat(i.val()); if (n >= r) a = n; else var a = n + 1; t.find("input").val(a), t.find("input").trigger("change") }), a.click(function () { var n = parseFloat(i.val()); if (n <= u) a = n; else var a = n - 1; t.find("input").val(a), t.find("input").trigger("change") }) });
    </script>
}