﻿@inherits UmbracoViewPage<KOKOBAY.Models.BaseViewModel>
@{
    Layout = null;
    var lang = (Request.Cookies["_culture"] == null
      || string.IsNullOrEmpty(Request.Cookies["_culture"].Value)) ? "en" : Request.Cookies["_culture"].Value.ToLower();

}

<!DOCTYPE html>
<html lang="en-us">
<head>

    @Html.CachedPartial("~/Views/Partials/Meta.cshtml", Model, 100, true)
    <!-- SCRIPTS-->
    <script src="~/Scripts/kokojs/jquery-1.9.1.min.js" type="text/javascript"></script>
    @RenderSection("PageStyle", required: false)
    <script>
        document.addEventListener("touchstart", function () { }, false);
    </script>

    <style>
        div#my-popup, div#raq-popup {
            margin: 70px auto;
            padding: 30px 50px 30px 50px;
        }
    </style>
    @Html.Raw(Model.GoogleAnalytics)
</head>

<body class="enable-fixed-header">

    @Html.CachedPartial("~/Views/Partials/TopLogo.cshtml", Model, 100, true)
    @RenderSection("HeaderBanner", required: false)
    @Html.CachedPartial("~/Views/Partials/Menu.cshtml", Model, 100, true)
    @RenderSection("HeaderCell", required: false)
    @Html.CachedPartial("~/Views/Partials/HeaderEnd.cshtml", Model, 100, true)
    @RenderBody()


    <!-- Modal HTML -->
    <div id="successModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4 id="successBody"></h4>
                    <button class="btn btn-success" data-dismiss="modal"><span>Đóng</span></button>
                </div>
            </div>
        </div>
    </div>

    @Html.CachedPartial("~/Views/Partials/Footer.cshtml", Model, 100, true)

    @Html.Action("Index", "BookingSurface")
    @Html.Action("Index", "ShoppingSurface")


    <a href="#" class="btn" id="back-to-top"><i class="fa fa-arrow-up"></i></a>



    <script>
        $(document).ready(function () {
            $('.nav-toggle').click(function () {
                //get collapse content selector
                var collapse_content_selector = $(this).attr('href');
                //make the collapse content to be shown or hide
                var toggle_switch = $(this);
                $(collapse_content_selector).toggle(function () {
                    if ($(this).css('display') == 'none') {
                        toggle_switch.html('--> Show more');//change the button label to be 'Show'
                    } else {
                        toggle_switch.html('--> Show less');//change the button label to be 'Hide'
                    }
                });
            });
        });
    </script>
    <script src="~/Scripts/kokojs/jquery.ba-outside-events.min.js"></script>
    <script src="~/Scripts/kokojs/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kokojs/jalendar.min.js"></script>
    <script type="text/javascript">

        $('#yourId').jalendar({
            dateType: 'dd-mm-yyyy',
            selected: '01/11/2018',
            color: '#fff', // Unlimited Colors
            color2: '#fff', // Unlimited Colors
            lang: 'EN',
            titleColor: '#673AB7',
            sundayStart: true
        });
    </script>
    <script src="~/Scripts/kokojs/vanillacalendar.js" type="text/javascript"></script>
    
    @*<script>
        vanillacalendar.init();
    </script>*@
    <script type="text/javascript">function toggle_visibility(e) { var l = document.getElementById(e); "none" == l.style.display ? l.style.display = "block" : l.style.display = "none" }</script>




    <script src="~/Scripts/kokojs/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/kokojs/jquery.mobile.custom.min.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSubcribe").on("click", function (e) {
                e.preventDefault();
                $("body").css("cursor", "progress");
                var url = '@Url.Action("Subcribe", "SubcribeSurface")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#formSubcribe").serialize(),
                    success: function (data) {
                        $.magnificPopup.close();
                        $("#successBody").html(data);
                        $('#successModal').modal('show');
                        $("body").css("cursor", "default");
                    }
                });
                return false;
            });

            $(".customer-logos").slick({ slidesToShow: 6, slidesToScroll: 6, autoplay: !0, autoplaySpeed: 5000, arrows: !0, dots: !1, pauseOnHover: !1, responsive: [{ breakpoint: 768, settings: { slidesToShow: 4, slidesToScroll: 4, autoplaySpeed: 1000 } }, { breakpoint: 520, settings: { slidesToShow: 2, slidesToScroll: 2, autoplaySpeed: 1000 } }] })


        });
    </script>

    <script src="~/Scripts/kokojs/bootstrap.min.js"></script>
    <script src="~/Scripts/kokojs/owl.carousel.min.js"></script>
    <script src="~/Scripts/kokojs/jquery.vide.min.js"></script>
    <script src="~/Scripts/kokojs/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Scripts/kokojs/script.js"></script>
    <script src="~/Scripts/kokojs/jquery.ba-outside-events.min.js"></script>
    <script src="~/Scripts/kokojs/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/kokojs/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts/kokojs/jquery.flexisel.js"></script>
    <script type="text/javascript" src="~/Scripts/kokojs/scroll.js"></script>
    <script src="~/Scripts/kokojs/useful-gallery.js"></script>
    <script src="~/Scripts/kokojs/jquery.cubeportfolio.min.js"></script>

    <script src="~/Scripts/kokojs/wow.js"></script>
    <script>

        wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
            callback: function (box) {
                //console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        }
        );
        wow.init();
        if (document.getElementById('moar') != undefined) {
            document.getElementById('moar').onclick = function () {
                var section = document.createElement('section');
                section.className = 'section--purple wow fadeInDown';
                this.parentNode.insertBefore(section, this);
            };
        }
    </script>
    <script>var nav = $("div.header-tool-bar.tops"); $(window).scroll(function () { $(window).scrollTop() > 50 ? nav.removeClass("tops") : nav.addClass("tops") }); var nav1 = $("img.toplogo"); $(window).scroll(function () { $(window).scrollTop() > 50 ? nav1.removeClass("toplogo") : nav1.addClass("toplogo martop") });</script>


    <!-- Start Scripts Popup Booking -->
    <script>var nav = $("div.header-tool-bar.tops"); $(window).scroll(function () { $(window).scrollTop() > 50 ? nav.removeClass("tops") : nav.addClass("tops") }); var nav1 = $("img.toplogo"); $(window).scroll(function () { $(window).scrollTop() > 50 ? nav1.removeClass("toplogo") : nav1.addClass("toplogo martop") });</script>
    <!-- End   Scripts Popup Booking -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    @if (Model.DisplayMenuRight == true)
    {
        <div class="sidenav">
            <a class="link room" id="booknow1" href="#hero-tabs">
                <span class="title">@(new UmbracoHelper().GetDictionaryValue("BOOK ROOM"))</span>
                <img src="~/img/room.png" />
            </a>
            <a class="open-popup link mtable" href="#my-popup" data-rest="">
                <span class="title">@(new UmbracoHelper().GetDictionaryValue("BOOK A TABLE"))</span>
                <img src="~/img/table.png" />
            </a>
            <a class="link bus" id="bookbus">
                <span class="title">@(new UmbracoHelper().GetDictionaryValue("BOOK BUS"))</span>
                <img src="~/img/bus.png" />
            </a>
            <a class="link ticket" href="@(new UmbracoHelper().GetDictionaryValue("BOOK TICKET URL"))">
                <span class="title">@(new UmbracoHelper().GetDictionaryValue("BOOK TICKET"))</span>
                <img src="~/img/ticket.png" />
            </a>
        </div>
    }
    <script>

        $(window).on('resize', function () {
            if ($(window).width() >= 650) {
                FloatingBar("240px", "60px");
            } else {
                FloatingBarMobile();

            }
        });

        $(window).on('load', function () {
            if ($(window).width() >= 650) {
                FloatingBar("240px", "60px");
            } else {
                FloatingBarMobile();
            }

            $(".open-popup").click(function () {
                $("#show").val($(this).attr("data-rest")).change();
            });

            $("#btnBooking").click(function (e) {
                $("body").css("cursor", "progress");
                e.preventDefault();
                var url = '@Url.Action("Booking", "BookingSuface")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#formBooking").serialize(),
                    success: function (data) {
                        $.magnificPopup.close();
                        $("#successBody").html(data);
                        $('#successModal').modal('show');
                        $("body").css("cursor", "default");
                    }
                });
                return false;
            });

            $("#btnShopping").click(function (e) {
                $("body").css("cursor", "progress");
                $("#raq-popup").css("cursor", "progress");
                $("#raq-popup").prop('readonly', true);
                e.preventDefault();
                var url = '@Url.Action("Shopping", "ShoppingSuface")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#formShopping").serialize(),
                    success: function (data) {
                        $.magnificPopup.close();
                        $("#successBody").html(data);
                        $('#successModal').modal('show');
                        $("body").css("cursor", "default");
                        $("#raq-popup").prop('readonly', false);
                    }
                });
                return false;
            });

            $('#raq-popup').parent().css("margin-top", "0px");
            $(".open-popup").magnificPopup({
                type: "inline",
                callbacks: {
                    open: function () {
                        //$.magnificPopup.instance.close = function () {
                        //    confirm("Are you sure?") && $.magnificPopup.proto.close.call(this)
                        //}
                    }
                }
            });

            $("#booknow,#booknow1").click(function () {
                var strfromdate = toDate($("#departure").val());
                var fromdate = strfromdate.getFullYear() + '-' + (strfromdate.getMonth() + 1) + '-' + strfromdate.getDate();
                var strtodate = toDate($("#arrival").val());
                var todate = strtodate.getFullYear() + '-' + (strtodate.getMonth() + 1) + '-' + strtodate.getDate();
                var numberRooms = $("#numberRooms").val();
                var numberAdults = $("#numberAdults").val();
                var numberChildren = $("#numberChildren").val();
                var url = "https://www.book-secure.com/index.php?s=results&property=vndan31581&arrival=" + fromdate + "&departure=" + todate + "&adults1=" + numberAdults + "&children1=" + numberChildren + "&rooms=" + numberRooms + "&locale=en_GB&currency=VND&stid=rudx9r2gf";
                window.location.href = url;
            });
            function toDate(dateStr) {
                var parts = dateStr.split("/")
                return new Date(parts[2], parts[1] - 1, parts[0])
            }

            $("#bookbus").click(function () {
                var url = "http://booking.cocobay.vn/cocobay?event=coco-bus-tour&type=cocobus-ticket";
                window.location.href = url;
            });
        });


        function FloatingBarMobile() {
            $(".sidenav").unbind("mouseover");
            $(".sidenav").unbind("mouseleave");
            $(".sidenav").css('width', '');
            $(".sidenav .link").css('width', '25%');
            $(".sidenav .link img").attr('style', 'margin-right: 18px !important');
            $(".sidenav .mtable img").attr('style', 'margin-right: 24px !important;');
        }
        function FloatingBar(wid1, wid2) {
            $(".sidenav .link").css('width', '');
            $(".sidenav .link img").attr('style', '');
            $(".sidenav .mtable img").attr('style', '');

            $(".sidenav").mouseover(function over() {
                $(this).stop().animate({
                    width: wid1
                }, 200, "linear", function () {
                    $(this).find(".title").show();
                });
            });


            $(".sidenav").mouseleave(function over() {
                $(this).find(".title").hide();
                $(this).stop().animate({
                    width: wid2
                }, 200, "linear");
            });
        }



        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script src="~/Scripts/client.js"></script>

    @RenderSection("Scripts", required: false)


    @Html.Raw(Model.FacebookPixcel)
</body>


</html>