﻿@inherits UmbracoViewPage<KOKOBAY.Models.ProjectDetailModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="~/img/cocobay/banner.PNG" width="100%" /></div>
}
@section PageStyle{

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>

    <style>
        h2.project-title {
            font-size: 27px;
        }

        .owl-controls .owl-buttons div, .owl-controls .owl-page {
            border: 2px solid #fff;
        }

        .owl-page.active > span {
            background: #fff !important;
        }

        .owl-theme .owl-controls .owl-page span {
            background: 0 0;
        }

        section#projects {
            padding-top: 100px;
            padding-bottom: 0px;
        }

        html {
            margin-right: 0px !important;
            overflow: inherit !important;
        }

        section#popup {
            padding: 0;
        }

        ul.gallery {
            padding: 0;
        }

        a.active.project {
            color: #fff !important;
        }

        .wow:first-child {
            visibility: hidden;
        }

 

        * {
            box-sizing: border-box;
        }

        .container1 {
            position: relative;
            width: 100%;
        }

        .image1 {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay1 {
            position: absolute;
            bottom: 0;
            background: linear-gradient(to left, #c90f74e0, #31063fc9) !important;
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            color: white;
            font-size: 1.7em;
            padding: 30px;
            text-align: left;
        }

        .container1:hover .overlay1 {
            opacity: 1;
        }
    </style>
}


<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h3 class="title-projects wow fadeInDown">@Model.CurrentProjectDetail.ProjectTitle</h3>
                <p class="sub-titlte-projects wow bounceInDown">@Model.CurrentProjectDetail.ProjectSubtitle</p>
                <img class="below-h1 wow bounceInDown" src="/img/cocobay/gach-title.PNG" />
            </div>
            <div class="col-sm-4 wow fadeInLeft" style="border-right: 1px solid #2c56aa;">
                <div class="1row">
                    <h4 class="title-scale">@Model.CurrentProjectDetail.ProjectScaleTitle</h4>
                    <p>@Model.CurrentProjectDetail.ProjectScaleText</p>
                </div>
                <div class="1row">
                    <h4 class="title-scale">@Model.CurrentProjectDetail.ProjectRoomsTitle</h4>
                    <p>@Model.CurrentProjectDetail.ProjectRoomsText</p>
                </div>
                <div class="1row">
                    <h4 class="title-scale">@Model.CurrentProjectDetail.ProjectInvestorTitle</h4>
                    <p>@Model.CurrentProjectDetail.ProjectInvestorText</p>
                </div>
                <div class="1row">
                    <h4 class="title-scale">@Model.CurrentProjectDetail.ProjectOrganizationTitle</h4>
                    <p>@Model.CurrentProjectDetail.ProjectOrganizationText</p>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="cocop wow fadeInRight">
                    @Html.Raw(Model.CurrentProjectDetail.ProjectDescription)
                </p>

                <section class="round-border">
                    @*<div>
                            <button href="#collapse2" class="nav-toggle">-->@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                        </div>*@
                    <div id="collapse2">
                        @Html.Raw(Model.CurrentProjectDetail.ProjectDescriptionMore)
                    </div>
                </section>

            </div>
        </div>
    </div>

    @if (Model.CurrentProjectDetail.EnableLocation == true)
    {
        <div class="container-fluid">
            <div class="row" style="padding:0;">
                <div class="col-sm-12 wow fadeInDown" style="text-align: center;padding-top: 80px;">
                    <h3 class="title-projects">@Model.CurrentProjectDetail.LocationTitle</h3>
                    <p class="sub-titlte-projects">@Model.CurrentProjectDetail.LocationSubtitle</p>
                    <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
                </div>
                <div class="col-sm-12 feature">
                    <div class="below wow fadeInLeft">
                        <h3 class="title-scale">@Model.CurrentProjectDetail.LocationTitle2</h3>
                        <p>
                            @Html.Raw(Model.CurrentProjectDetail.LocationDescription)
                        </p>
                        <section class="round-border">
                            <div>
                                <button href="#collapse1" class="nav-toggle">-->@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                            </div>
                            <div id="collapse1" style="display:none">
                                <p>
                                    @Html.Raw(Model.CurrentProjectDetail.LocationDescriptionMore)
                                </p>
                            </div>
                        </section>
                    </div>
                    <img src="@(Model.CurrentProjectDetail.LocationImage != null ? Model.CurrentProjectDetail.LocationImage.Url : "")" width="100%" class="wow fadeInUp" />
                </div>
            </div>
        </div>
    }
    @if (Model.CurrentProjectDetail.EnableFacilities == true)
    {
        <div class="container-fluid">
            <div class="row" style="padding:0;">
                <div class="col-sm-12 wow fadeInDown" style="text-align: center;padding-top: 80px;">
                    <h3 class="title-projects">@Model.CurrentProjectDetail.FacilitiesTitle</h3>
                    <p class="sub-titlte-projects">@Model.CurrentProjectDetail.FacilitiesSubtitle</p>
                    <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
                </div>
                @foreach (var item in Model.CurrentProjectDetail.FacilitiesImages)
            {
                var Images = item.GetPropertyValue<string>("Image").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                var Image = Umbraco.TypedMedia(Images).Where(x => x != null).FirstOrDefault();
                var Title = item.GetPropertyValue<string>("Title");

            <div class="col-sm-4 feature wow pulse">
                <div class="container1">
                    <img src="@Image.Url" alt="Avatar" class="image1">
                    <div class="overlay1">@Title</div>
                </div>
            </div>
            }
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                    <button class="btn pinkkoff wow fadeInUp" id="loadMoreFacility">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                </div>
            </div>
        </div>
    }
    @if (Model.CurrentProjectDetail.EnableInteriorDesign == true)
    {
        <div class="container-fluid">
            <div class="row" style="padding:0;">
                <div class="col-sm-12 wow fadeInDown" style="text-align: center;padding-top: 80px;">
                    <h3 class="title-projects">@Model.CurrentProjectDetail.InteriorTitle</h3>
                    <p class="sub-titlte-projects">@Model.CurrentProjectDetail.InteriorSubtitle</p>
                    <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
                </div>

                @foreach (var item in Model.CurrentProjectDetail.InteriorImage)
                {
                    var Images = item.GetPropertyValue<string>("Image").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                    var Image = Umbraco.TypedMedia(Images).Where(x => x != null).FirstOrDefault();
                    var Title = item.GetPropertyValue<string>("Title");

                <div class="col-sm-4 feature1 wow fadeInLeft">
                    <div class="overlay">
                        <img src="/img/cocobay/projects/i1.png" width="100%" alt="">
                        <div class="overlay-shadow" style=" opacity 1;visibility visible;top 70%;background linear-gradient(to left, #c90f74e0, #31063fc9)!important;">

                            <div class="overlay-content mod faci1" style=" opacity 1;visibility visible;transform scale(1);">
                                <section id="popup">
                                    <ul class="gallery">
                                        <li>
                                            <a href="@Image.Url" title="@Title" class="image-link">
                                                <h2 class="project-title">@Title</h2>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Image.Url" title="@Title" class="image-link"></a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>

    }

    @if (Model.CurrentProjectDetail.EnableMasterPlan == true)
    {
        <div class="container-fluid">
            <div class="row" style="padding:0;">
                <div class="col-sm-12 wow fadeInUp" style="text-align: center;padding-top: 80px;">
                    <h3 class="title-projects">@Model.CurrentProjectDetail.MasterPlanTitle</h3>
                    <p class="sub-titlte-projects">@Model.CurrentProjectDetail.MasterPlanSubtitle</p>
                    <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
                </div>
                <ul class="lb-album">

                    @{
                    var mImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("MasterPlanImage");
                    foreach (var item in mImages)
                    {
                <div class="col-sm-3 feature wow fadeInLeft container2">
                    <li>
                        <a href="#image-@item.SortOrder">
                            <img src="@item.Url" class="slm1" alt="image01">
                        </a>

                    </li>
                </div>
                <div class="lb-overlay" id="image-@item.SortOrder">
                    <img src="@item.Url" alt="image01" class="close-img" />
                    <a href="#page" class="lb-close">x Close</a>
                </div>
                    }
                    }
                </ul>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                    <button class="btn pinkkoff wow fadeInUp" id="loadMoreMasterPlan">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                </div>
            </div>
        </div>
                        }

    @if (Model.CurrentProjectDetail.EnableBenefits == true)
    {
        <div class="container-fluid benefits">
            <div class="row" style="padding:0;padding-bottom: 70px;">
                <div class="col-sm-12 wow fadeInDown" style="text-align: center;padding-top: 50px;">
                    <h3 class="title-projects1">@Model.CurrentProjectDetail.BenefitTitle</h3>
                    <p class="sub-titlte-projects1">@Model.CurrentProjectDetail.BenefitsSubtitle</p>
                    <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 beleft wow fadeInLeft">

                            @foreach (var item in Model.CurrentProjectDetail.BenefitsDescription.Take(4))
                        {
                            var Text = item.GetPropertyValue<string>("text");
                        <p>
                            <i class="fa fa-check"></i>@Text
                        </p>
                        }
                        </div>

                        <div class="col-sm-6 beright wow fadeInRight">
                            @foreach (var item in Model.CurrentProjectDetail.BenefitsDescription.Skip(4).Take(4))
                        {
                            var Text = item.GetPropertyValue<string>("text");

                        <p>
                            <i class="fa fa-check"></i>@Text
                        </p>
                        }
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p class="bebottom wow fadeInUp">@Model.CurrentProjectDetail.BenefitsNote</p>
                </div>

            </div>
        </div>
    }


    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInDown" style="text-align: center;padding-top: 80px;">
                <h3>@(new UmbracoHelper().GetDictionaryValue("Contact Us"))</h3>
                <p>@(new UmbracoHelper().GetDictionaryValue("Contact Us Sub"))</p>
                <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
            </div>

            @Html.Partial("~/Views/Partials/ContactUs.cshtml", new KOKOBAY.Entities.ContactUsItem())

        </div>

    </div>



    <div class="container-fluid " style="padding-top: 50px;">
        <div class="row">

            <!-- Start Title -->
            <div class="col-sm-12 center wow fadeInDown">
                <h3 class="title-projects">COCOBAY PROJECTS</h3>
                <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
            </div>
            <!-- End Title -->
            <div class="row" style="margin:0;">
                @foreach (var item in Model.LstProject)
                {
                <div class="col-sm-4 feature wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="overlay">
                        <img src="@item.ProjectImageSlider.FirstOrDefault().Url" width="100%" alt="">
                        <div class="overlay-shadow">

                            <div class="overlay-content mod">
                                <h2 class="project-title">@item.ProjectTitle</h2>
                                <p>@Html.Raw(item.ProjectDescription)</p>

                                <a class="readmore" href="@item.ProjectURL"></a><p class="readmore"><a class="readmore" href="#"><i class="fa fa-long-arrow-right"></i> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

</section>



@section Scripts{
    <script type="text/javascript">

        $("#contact_project").on("click", function (e) {
            e.preventDefault();
            $("body").css("cursor", "progress");
            var url = '@Url.Action("Contact", "ContactUsSurface")';
            $.ajax({
                type: "POST",
                url: url,
                data: $("#contact-form").serialize(),
                success: function (data) {
                    $.magnificPopup.close();
                    $("#successBody").html(data);
                    $('#successModal').modal('show');
                    $("body").css("cursor", "default");
                }
            });
            return false;
        });

        $(".customer-logos").slick({ slidesToShow: 6, slidesToScroll: 6, autoplay: !0, autoplaySpeed: 5000, arrows: !0, dots: !1, pauseOnHover: !1, responsive: [{ breakpoint: 768, settings: { slidesToShow: 4, slidesToScroll: 4, autoplaySpeed: 1000 } }, { breakpoint: 520, settings: { slidesToShow: 2, slidesToScroll: 2, autoplaySpeed: 1000 } }] })



    </script>
    <script>
        AutoLoadMore('.container1', "x", '#loadMoreFacility', 6);
        AutoLoadMore('.container2', "x2", '#loadMoreMasterPlan', 4);
    </script>
}