﻿@inherits UmbracoViewPage<KOKOBAY.Models.CareerDetailModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
@section PageStyle{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            background-color: #FFC107;
            color: #fff !important;
            border-radius: 0 !important;
            margin: 0px;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 20px 35px;
        }

        .tab-content > .active {
            display: block;
            font-family: avo;
            font-weight: 600 !important;
        }

        h3.title-h3, h4.title-h3-1 {
            height: auto;
        }

        img.below-h1 {
            width: 90px;
            height: 7px;
        }

        .wow:first-child {
            visibility: hidden;
        }

        option {
            background-color: #ed1c8f;
            color: #fff;
        }

        ul.custom-list.tab-content-list.career-tab-list {
            margin-top: 50px;
        }

        @@media (max-width:480px) {
            .triangle #banner, .triangle #banner .banner-bg, .triangle #banner .banner-bg-item {
                height: 30px !important;
            }
        }
    </style>
}
<section id="career-detail">
    <section id="essentials" class="essentials-career">
        <div class="container-fluid">
            <!-- Start Tabs-Container -->
            <div class="tabs-container essentials-tabs-container">
                @*<ul class="custom-list tab-title-list career-left">
                        <li class="tab-title career "><a href="#maps"@(new UmbracoHelper().GetDictionaryValue("@(new UmbracoHelper().GetDictionaryValue("CAREER OPPORTUNITY"))"))</a></li>
                        <li class="tab-title career li-by-taxi active"><a href="#fleets" class="by-taxi">LIFE AT COCOBAY</a></li>
                    </ul>*@
                <ul class="custom-list tab-content-list">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <p>@(new UmbracoHelper().GetDictionaryValue("Career Opportunity")) > @Model.CurrentCareerDetail.JobDepartment > <span style="color:#ed1c8f">@Model.CurrentCareerDetail.JobTitle</span></p>
                                    </div>
                                    <div class="col-sm-4 wow fadeInRight">
                                        <div class="button-like-share">

                                            <!-- Your share button code -->

                                            <button class="fb-share-button" data-href="@HttpContext.Current.Request.Url.OriginalString" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@(HttpContext.Current.Request.Url.OriginalString)" class="fb-xfbml-parse-ignore">Chia sẻ</a></button>

                                            <div class="fb-like" data-href="@(HttpContext.Current.Request.Url.OriginalString)" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>

                                        </div>
                                    </div>
                                    <div class="col-sm-8 wow fadeInLeft">
                                        <h1 class="title-asia">@Model.CurrentCareerDetail.JobTitle</h1>
                                    </div>
                                    <div class="col-sm-4 wow fadeInRight">
                                        <div class="button-like-share">
                                            <a id="open-popup" href="#my-popup">
                                                <button type="submit" class="btn btn-warning">@(new UmbracoHelper().GetDictionaryValue("APPLY NOW"))</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 wow fadeInLeft" style="padding-left: 0px; padding-right: 0px">
                                    <div>
                                        <h3 class="title-career">@(new UmbracoHelper().GetDictionaryValue("WHAT WE CAN OFFER"))</h3>
                                        <p>
                                            @Html.Raw(Model.CurrentCareerDetail.WhatWeCanOfferDescription)
                                        </p>
                                        <h3 class="title-career">@(new UmbracoHelper().GetDictionaryValue("JOB DESCRIPTION"))</h3>
                                        <p>
                                            @Html.Raw(Model.CurrentCareerDetail.JobDescriptionDetail)
                                        </p>
                                    </div>
                                    @*<div class="content-career">
                                        <strong class="title-career-description">@(new UmbracoHelper().GetDictionaryValue("JOB PURPOSE"))</strong><br />
                                        <p>
                                            @Html.Raw(Model.CurrentCareerDetail.JobPurposeDetail)
                                        </p>
                                    </div>*@
                                    <div class="content-career">
                                        <strong class="title-career-description">@(new UmbracoHelper().GetDictionaryValue("JOB RESPONSIBILITIES"))</strong><br />
                                        <ul>@Html.Raw(Model.CurrentCareerDetail.JobResponsibilitiesDetail)</ul>
                                    </div>
                                    @*<div class="content-career">
                                        <strong class="title-career-description">@(new UmbracoHelper().GetDictionaryValue("JOB SPECIFIC TASKS"))</strong><br />
                                        <ul>@Html.Raw(Model.CurrentCareerDetail.JobSpecificDetail)</ul>
                                    </div>*@
                                    @*<div class="content-career">
                                        <strong class="title-career-description">JOB DEPARTMENT</strong><br />
                                        <ul>@Html.Raw(Model.CurrentCareerDetail.JobDepartment)</ul>
                                    </div>*@
                                    <div class="content-career">
                                        <strong class="title-career-description">@(new UmbracoHelper().GetDictionaryValue("PERFORMANCE REQUIREMENTS"))</strong><br />
                                        <ul>@Html.Raw(Model.CurrentCareerDetail.PerformanceRequirementsDetail)</ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 right-career wow fadeInRight">
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("POSTED DATE"))</strong><br />
                                    <p>@(Model.CurrentCareerDetail.PostDate != null ? Model.CurrentCareerDetail.PostDate.ToString("dd/MM/yyyy") : "")</p>
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("JOB LEVEL"))</strong><br />
                                    <p>@Model.CurrentCareerDetail.JobLevel</p>
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("JOB CATEGORY"))</strong><br />
                                    <p>@Model.CurrentCareerDetail.JobCategory</p>
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("LOCATION"))</strong><br />
                                    <p>@Model.CurrentCareerDetail.JobLocation</p>
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("PREFERRED"))</strong><br />
                                    <p>@Model.CurrentCareerDetail.Preferred</p>
                                    <strong class="title-career-description padding-tt">@(new UmbracoHelper().GetDictionaryValue("TYPE"))</strong><br />
                                    <p>@Model.CurrentCareerDetail.Type</p>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-12 center">
                                <img class="below-h1 wow fadeInDown" style="position: relative; margin-top: 50px;" src="/img/cocobay/gach-title.PNG" />
                                <h1 class="title wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("JOBS YOU WILL LOVE"))</h1><br />
                            </div>
                            <div class="col-sm-12">
                                <div class="row">


                                    @if (Model.LstCareer != null)
                                    {
                                        foreach (var item in Model.LstCareer)
                                        { <div class="col-sm-4 padding-address wow fadeInLeft">
                                        <div class="box-career">
                                            <a href="@item.Url"><p class="name-career">@item.JobTitle</p></a>
                                            <p>@Html.Raw(item.JobDescriptionDetail.Length > 200 ? item.JobDescriptionDetail.Substring(0, 200) : item.JobDescriptionDetail)...</p>
                                            <p class="time-career"><i class="fa fa-clock-o" aria-hidden="true"></i> Part time</p>
                                            <p><a href="@item.Url" class="readmore-career"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>@(new UmbracoHelper().GetDictionaryValue("Read more"))</a></p>
                                        </div>
                                    </div>
                                        }
                                    }

                                </div>
                            </div>*@
                    </div>

                </ul>
            </div>
        </div>
        <!-- End Tabs Container -->
        </div>
    </section>
</section>

@Html.Action("Index", "RecruitmentSurface", new { id = Model.CurrentCareerDetail.JobTitle })


@section Scripts{

    <script>

        $("#open-popup").magnificPopup({ type: "inline" });

        (function () {

            $("#btnApply").click(function (e) {
                $("body").css("cursor", "progress");
                e.preventDefault();
                var url = '@Url.Action("Applying", "RecruitmentSurface")';
                var form_data = new FormData($('#contact-form')[0]);
                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    async: false,
                    cache: false,
                    url: url,
                    data: form_data,
                    success: function (data) {
                        $.magnificPopup.close();
                        $("#successBody").html(data);
                        $('#successModal').modal('show');
                        $("body").css("cursor", "default");
                    }
                });
                return false;
            });

        })();

        var nav = $("div.header-tool-bar.tops");
        $(window).scroll(function () {
            $(window).scrollTop() > 50 ? nav.removeClass("tops") : nav.addClass("tops")
        });
        var nav1 = $("img.toplogo");
        $(window).scroll(function () {
            $(window).scrollTop() > 50 ? nav1.removeClass("toplogo") : nav1.addClass("toplogo martop")
        }); 
    </script>
}