﻿@inherits UmbracoViewPage<KOKOBAY.Models.CareerModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
@section PageStyle{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            background-color: #FFC107;
            color: #fff !important;
            border-radius: 0 !important;
            margin: 0px;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 20px 35px;
        }

        .tab-content > .active {
            display: block;
            font-family: avo;
            font-weight: 600 !important;
        }

        h3.title-h3, h4.title-h3-1 {
            height: auto;
        }

        img.below-h1 {
            width: 90px;
            height: 7px;
        }

        .wow:first-child {
            visibility: hidden;
        }

        option {
            background-color: #ed1c8f;
            color: #fff;
        }

        ul.custom-list.tab-content-list.career-tab-list {
            margin-top: 50px;
        }



        @@media (min-width:481px) {
            .triangle #banner, .triangle #banner .banner-bg, .triangle #banner .banner-bg-item {
                height: 545px !important;
            }
        }
    </style>
}
<section id="career-new">
    <section id="essentials" class="essentials-career">
        <div class="container-fluid">
            <!-- Start Tabs-Container -->
            <div class="tabs-container essentials-tabs-container">
                <ul class="custom-list tab-title-list career-left">
                    <li class="tab-title career active"><a href="#maps">@(new UmbracoHelper().GetDictionaryValue("CAREER OPPORTUNITY"))</a></li>
                    <li class="tab-title career li-by-taxi"><a href="#fleets" class="by-taxi">@(new UmbracoHelper().GetDictionaryValue("LIFE AT COCOBAY"))</a></li>
                </ul>
                <ul class="custom-list tab-content-list career-tab-list">
                    <!-- Start Map -->

                    <li class="tab-content tab-content1 active">
                        <div class="container">
                            <div class="row">
                                <!-- Start Title -->
                                <div class="col-sm-12 center">
                                    <h1 class="title fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@(new UmbracoHelper().GetDictionaryValue("LIST JOBS"))</span></h1>
                                    <p class="fadeInDown">@Model.Subtitle</p>
                                    <img class="below-h1 fadeInDown" style="position: relative;" src="/img/cocobay/gach-title.PNG" />
                                </div>
                                <!-- End Title -->
                                <div class="col-sm-2 fadeInLeft"></div>
                                <div class="col-sm-4 fadeInLeft">

                                    <div class="form-group">
                                        <label class="form-label1" for="pick">@(new UmbracoHelper().GetDictionaryValue("Choose department"))</label>
                                        <select class="filterby" id="show1" name="ListDepartment">
                                            @foreach (var item in Model.ListDepartment)
                                            {
                                                if (item.Value != "")
                                                {
                                            <option value="@item.Value">@item.Value</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm-4 fadeInLeft">

                                    <div class="form-group">
                                        <label class="form-label1" for="pick">@(new UmbracoHelper().GetDictionaryValue("Choose properties"))</label>
                                        <select class="filterby" id="show1" name="ListProperty">
                                            @foreach (var item in Model.ListProperty)
                                            {
                                                if (item.Value != "")
                                                {
                                            <option value="@item.Value">@item.Value</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <h2 class="title-catejob">@(new UmbracoHelper().GetDictionaryValue("Lastest Jobs"))</h2>
                                </div>

                                @if (Model.LstCareers != null)
                                {
                                    foreach (var item in Model.LstCareers)
                                    {
                                <div class="col-sm-4 itemjob fadeInLeft careerJob" id="CareerDiv" data-Department="@item.JobDepartment" data-Properties="@item.ChooseProperties">
                                    <div class="job-item">
                                        <a href="@item.Url"><h3 class="title-job">@item.JobTitle</h3></a>
                                        <p class="content-job">@Html.Raw(item.JobDescriptionDetail.Length > 200 ? item.JobDescriptionDetail.Substring(0, 200) : item.JobDescriptionDetail)...</p>
                                        <p class="timelap"><i class="fa fa-clock-o"></i>@item.Type</p>
                                        <a href="@item.Url" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>@(new UmbracoHelper().GetDictionaryValue("Read more"))</a>
                                    </div>
                                </div>
                                    }
                                }
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom12">
                                    <button class="btn pinkkoff fadeInUp" id="loadMoreJob1">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                                </div>

                                <div class="col-sm-12">
                                    <h2 class="title-catejob">@(new UmbracoHelper().GetDictionaryValue("Urgent Jobs"))</h2>
                                </div>

                                @if (Model.LstUrgentJobs != null)
                                {
                                    foreach (var item in Model.LstUrgentJobs)
                                    {
                                <div class="col-sm-4 itemjob fadeInLeft careerJob" id="UrgentDiv" data-Department="@item.JobDepartment" data-Properties="@item.ChooseProperties">
                                    <div class="job-item">
                                        <a href="@item.Url"><h3 class="title-job">@item.JobTitle</h3></a>
                                        <p class="content-job">@Html.Raw(item.JobDescriptionDetail.Length > 200 ? item.JobDescriptionDetail.Substring(0, 200) : item.JobDescriptionDetail)...</p>
                                        <p class="timelap"><i class="fa fa-clock-o"></i>@item.Type</p>
                                        <a href="@item.Url" class="read-more"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>@(new UmbracoHelper().GetDictionaryValue("Read more"))</a>
                                    </div>
                                </div>
                                    }
                                }
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom12">
                                    <button class="btn pinkkoff fadeInUp" id="loadMoreJob2">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- End Map -->
                    <!-- Start Fleet Items -->
                    <li class="tab-content tab-content1 tab-career">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<div class="col-sm-1"></div>
                                    <div class="col-sm-10 center">
                                        <div class="widget carrersearch">
                                            <form method="GET" class="default-form search-form">
                                                <input type="text" placeholder="Search" id="sr">
                                                <button id="btnSearchHRNews"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>*@
                                    <!-- Start Title -->
                                    <div class="col-sm-12 center">
                                        <h1 class="title fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.HrNewsTitle</span></h1>
                                        <p class="fadeInDown">@Model.HrNewsSubtitle</p>
                                        <img class="below-h1 fadeInDown" style="position: relative;" src="/img/cocobay/gach-title.PNG" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    @for (int i = 0; i < Model.lstHRNews.Count(); i++)
                                    {
                                        <div class="col-sm-8" style="margin-bottom: 30px;"><a href="@Model.lstHRNews[i].UrlNews"><img src="@Model.lstHRNews[i].Image.Url" class="fadeInLeft" /></a></div>
                                        <div class="col-sm-4 fadeInRight">
                                            <a href="@Model.lstHRNews[i].UrlNews"><h3 class="title-h3" style="margin-top:0px;">@Model.lstHRNews[i].Title</h3></a>
                                            <p>@Model.lstHRNews[i].ShortDescription</p>
                                            <a class="readmore" href="@Model.lstHRNews[i].UrlNews"><p class="readmore1"><i class="fa fa-long-arrow-right"></i> @(new UmbracoHelper().GetDictionaryValue("Read More"))</p></a>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">

                                        @for (int i = 1; i < Model.lstHRNews.Count(); i++)
                                        {
                                            if (i == 1)
                                            {
                                                <div class="col-sm-3 fadeInUp" style="clear: both;">
                                                    <a href="@Model.lstHRNews[i].UrlNews"><img src="@Model.lstHRNews[i].Image.Url" width="100%" /></a>
                                                    <a href="@Model.lstHRNews[i].UrlNews"><h4 class="title-h3-11">@Model.lstHRNews[i].Title</h4></a>
                                                    <p>@Model.lstHRNews[i].ShortDescription</p>
                                                    <a class="readmore" href="@Model.lstHRNews[i].UrlNews"><p class="readmore"><i class="fa fa-long-arrow-right"></i>@(new UmbracoHelper().GetDictionaryValue("Read more"))</p></a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-3 fadeInUp">
                                                    <a href="@Model.lstHRNews[i].UrlNews"><img src="@Model.lstHRNews[i].Image.Url" width="100%" /></a>
                                                    <a href="@Model.lstHRNews[i].UrlNews"><h4 class="title-h3-11">@Model.lstHRNews[i].Title</h4></a>
                                                    <p>@Model.lstHRNews[i].ShortDescription</p>
                                                    <a class="readmore" href="@Model.lstHRNews[i].UrlNews"><p class="readmore"><i class="fa fa-long-arrow-right"></i>@(new UmbracoHelper().GetDictionaryValue("Read more"))</p></a>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="col-sm-12" style="padding-top: 50px;padding-bottom: 50px"><img src="/img/cocobay/ccb-news/linebanner.png" class="fadeInLeft" style="width: 100%;" /></div>
                                <div class="col-sm-12 center">
                                    <h1 class="title fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.CompanyEventTitle</span></h1>
                                    <p class="fadeInDown">@Model.CompanyEventSubtitle</p>
                                    <img class="below-h1 fadeInDown" src="/img/cocobay/gach-title.PNG" />
                                </div>
                                <!-- End Title -->

                                @for (int i = 0; i < Model.lstEvents.Count(); i++)
                                {
                                    <div class="col-sm-3 item-career-new">
                                        <img src="@Model.lstEvents[i].Image.Url" class="img-related" alt="">
                                        <a href="@Model.lstEvents[i].UrlNews"><h5 class="title-related1">@Model.lstEvents[i].Title</h5></a>
                                    </div>
                                }

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Tabs Container -->
        </div>
    </section>
</section>
@section Scripts{
    <script>


        AutoLoadMore('#CareerDiv', "x", '#loadMoreJob1', 6);
        AutoLoadMore('#UrgentDiv', "x2", '#loadMoreJob2', 6);
        $(".filterby").change(function () {
            var filterDepartment = $("select.filterby").eq(0).val();
            var filterProperties = $("select.filterby").eq(1).val();


            var row = $('.careerJob');
            row.hide();
            var cnt = 0;
            row.each(function (i, el) {
                if ((filterDepartment == "Tất cả" || filterDepartment == "") && (filterProperties == "Tất cả" || filterProperties == "")) {
                    $(el).show("slow");
                    cnt++;
                }
                else if (filterDepartment == "Tất cả") {
                    if ($(el).attr('data-Properties') == filterProperties || $(el).attr('data-Properties') == "") {
                        $(el).show("slow");
                        cnt++;
                    }
                }

                else if (filterProperties == "Tất cả") {
                    if ($(el).attr('data-Department') == filterDepartment || $(el).attr('data-Department') == "") {
                        $(el).show("slow");
                        cnt++;
                    }
                }
                else {
                    if (($(el).attr('data-Department') == filterDepartment || $(el).attr('data-Department') == "") && ($(el).attr('data-Properties') == filterProperties || $(el).attr('data-Properties') == "")) {
                        $(el).show("slow");
                        cnt++;
                    }
                }
            });
            if (cnt > 6) {
                window["x"] = 6;
                AutoLoadMore('#CareerDiv', "x", '#loadMoreJob1', 6);
                AutoLoadMore('#UrgentDiv', "x2", '#loadMoreJob2', 6);
            }
            else {
                $('#loadMoreJob1').hide();
            }
        });


        $("#btnSearchHRNews").click(function (e) {
            window.open('@(UmbracoContext.Current.PublishedContentRequest.Domain.Name)/search?q=' + $("#sr").val());
        })
    </script>

}