﻿@inherits UmbracoViewPage<KOKOBAY.Models.ShoppingModel>

@section HeaderBanner{

    @*@{
        var kImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("BannerList");
        if (kImages != null)
        {
            foreach (var item in kImages)
            {
                var aaa = item == kImages.First() ? "active" : "";
                <div class="banner-bg-item @aaa"><img src="@item.Url" alt=""></div>
            }
        }
    }*@
         @{ int dem = 0;
           }
                     @foreach (var Item in Model.Current.BannerList)
                             { dem = dem + 1;
                                if (dem == 1)
                                 {
                                    <div class="banner-bg-item active"><img src="@Item.Url" alt=""></div>
                                 }
                                 else
                                 {
                                    <div class="banner-bg-item"><img src="@Item.Url" alt=""></div>
                                 }

                             }
         }
   
}
@section PageStyle{

}
<style>
    .owl-controls .owl-buttons div, .owl-controls .owl-page {
        border: 2px solid #fff;
    }

    .owl-page.active > span {
        background: #fff !important;
    }

    .owl-theme .owl-controls .owl-page span {
        background: 0 0;
    }

    .overlay-shadow {
        top: 70%;
    }

    .overlay-shadow {
        background: linear-gradient(to bottom, rgba(233, 30, 99, 0), #9C27B0) !important;
    }

    #header #banner .banner-bg-item {
        width: 100%;
        background-position: center;
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        margin-top: 0;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

        .row.partner {
            margin-right: -15px;
            margin-left: -15px;
        }

    .css-table-cell {
        display: table-cell;
        vertical-align: top;
    }

    .row.hong {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row.menu {
        margin-right: -15px;
        margin-left: -15px;
    }

    .owl-prev {
        background-image: url(/img/cocobay/about2/pre.png);
    }

    .owl-next {
        background-image: url(/img/cocobay/about2/next.png);
    }

    .owl-buttons .owl-prev:before, .owl-buttons .owl-next:before {
        display: none;
    }

    .owl-theme .owl-controls .owl-buttons div {
        height: 30px;
        width: 53px;
    }

    .wow:first-child {
        visibility: hidden;
    }

    @@media (max-width:480px) {
        .triangle #banner, .triangle #banner .banner-bg-item {
            height: 195px !important;
        }

        .owl-prev {
            background-image: url(/img/cocobay/leftm.png);
        }

        .owl-next {
            background-image: url(/img/cocobay/rightm.png);
        }

        .owl-theme .owl-controls .owl-buttons div {
            height: 11px;
            width: 20px;
            top: 22%;
        }

        #header .owl-buttons {
            display: block;
        }

        .owl-controls .owl-buttons {
            opacity: 1;
        }
    }

    @@media (max-width:1199px) {
        #banner .banner-bg-item {
            height: 655px !important;
        }
    }

    @@media (max-width:1025px) and (min-width:430px) {
        #banner .banner-bg-item {
            height: 455px !important;
        }

        .owl-theme .owl-controls .owl-buttons div {
            top: 56%;
        }

        .owl-controls .owl-buttons {
            opacity: 1;
        }
    }

    #header .owl-buttons {
        display: block;
    }

    .owl-controls .owl-buttons {
        opacity: 1 !important;
    }

    @@media (max-width: 1199px) and (min-width:430px) {
        .owl-theme .owl-controls .owl-buttons div {
            top: 32%;
        }
    }

    @@media (max-width: 1024px) {
        #banner {
            height: 455px !important;
        }
    }

    @@media (max-width: 1199px) and (min-width: 1024px) {
        #banner {
            height: 455px !important;
        }
    }

    @@media screen and (min-width: 1025px) {
        .left-text-video-mobile {
            display: none !important;
        }
    }

    @@media screen and (max-width: 1024px) {
        .left-text-video-desktop {
            display: none !important;
        }
    }

    @@media (max-width: 425px) {
        #banner .banner-bg-item.banner-shopping2 {
            height: 170px !important;
        }

        #banner .banner-bg {
            height: 500px !important;
        }

        #banner {
            height: 300px !important;
        }
    }

 
</style>
<section id="shopping2">
    <div class="container-fluid">
        <div class="row container-shopping2">
            <div class="col-sm-12 center wow fadeInDown">
                <img src="/img/cocobay/ccb-shopping2/icon-1.png " /><br>
                <h1 class="title">@Model.Current.Title</h1>
                <p>@Model.Current.Subtitle</p>
                <img class="below-h1" src="/img/cocobay/gach-title.PNG" />
            </div>
            <div class="col-sm-12">
                <div class="row giftshop">
                    <div class="col-sm-6 left-text-video wow fadeInLeft left-text-video-desktop" style="height: 575px !important;">
                        <div class="">
                            <h3 class="title-scale">@Model.Current.FunctionTitle</h3>
                            <p>
                                @Html.Raw(Model.Current.FunctionDescription)
                            </p>
                        </div>
                        <a class="open-popup link mtable" href="#raq-popup" data-rest="">
                            <button class="btn subcribtn">REQUEST A QUOTATION</button>
                        </a>
                    </div>
                    <div class="col-sm-6 left-text-video wow fadeInLeft left-text-video-mobile">
                        <div class="">
                            <h3 class="title-scale">@Model.Current.GiftShopTitle</h3>
                            <p>@Html.Raw(Model.Current.GiftShopDescription)</p>
                            <section class="round-border">
                                <div>
                                    <button href="#collapse3" class="nav-toggle">-->@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                                </div>
                                <div id="collapse3" style="display:none">
                                    <p>
                                        @Html.Raw(Model.Current.FunctionDescriptionMore)
                                    </p>
                                </div>
                            </section>
                        </div>

                        <a class="open-popup link mtable" href="#raq-popup" data-rest="">
                            <button class="btn subcribtn">REQUEST A QUOTATION</button>
                        </a>

                    </div>
                    <div class="col-sm-6 right-text-video wow fadeInRight">
                        <header id="header" class="shopping2">
                            <div id="banner" class="banner-shopping2">
                                <div class="banner-bg">
                                    @{
                                        var mImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("FunctionImages");
                                        if (mImages != null)
                                        {
                                            foreach (var item in mImages)
                                            {
                                                <div class="banner-bg-item banner-shopping2" style="height:550px"><img src="@item.Url" alt=""></div>
                                            }
                                        }
                                    }
                                </div>
                                <!-- End Header-Inner -->
                            </div>
                        </header>
                    </div>
                </div>
            </div>
            @*TODO Truongtv*@
           @* <div class="col-sm-12 slider-shopping2 wow fadeInDown">
        <header id="header" class="shopping23">
            <div id="banner">
                <div class="banner-bg">
                    @{
                        var nImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("GiftShopGalery");
                        if (nImages != null)
                        {
                            foreach (var item in nImages)
                            {
                                <div class="banner-bg-item banner-shopping2"><img src="@item.Url" alt=""></div>
                            }
                        }
                    }
                </div>
                <!-- End Header-Inner -->
            </div>
        </header>
        <div class="row giftshop3">
            <div class="col-sm-8 left-text-video1 wow fadeInLeft left-text-video-desktop">
                <div class="">
                    <h3 class="title-market">@Model.Current.GiftShopTitle2</h3>
                    <p>
                        @Html.Raw(Model.Current.GiftShopDescription2)
                    </p>
                </div>
                <button class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</button>
            </div>
            <div class="col-sm-8 left-text-video1 wow fadeInLeft left-text-video-mobile">
                <div class="">
                    <h3 class="title-market">@Model.Current.GiftShopTitle</h3>
                    <p>@Html.Raw(Model.Current.GiftShopDescription)</p>
                    <section class="round-border">
                        <div>
                            <button href="#collapse4" class="nav-toggle">-->@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
                        </div>
                        <div id="collapse4" style="display:none">
                            <p>
                                @Html.Raw(Model.Current.GiftShopDescriptionMore)
                            </p>
                        </div>
                    </section>
                </div>
                <button class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</button>
            </div>
            <div class="col-sm-4 right-text-video wow fadeInRight">
                <h3 class="title-stuff">@Model.Current.GiftShopTitle2</h3>
                <img class="below-h1" src="/img/cocobay/ccb-shopping2/gach-trang.png" />
                <p class="des-right">@Html.Raw(Model.Current.GiftShopDescription2)</p>
                <p><button type="submit" class="button-discover">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</button></p>
            </div>
        </div>
    </div>
        *@
         
              
            </div>
        </div>

    </section>
@Html.Action("GetLastListNews", "LastNews")