﻿@model KOKOBAY.Entities.RequestQuotationFormItem


<div style="margin-top: 100px">
    <div id="my-popup" class="mfp-hide bg-popup">
        @using (Html.BeginUmbracoForm<KOKOBAY.Controller.requestQuotationFormSurfaceController>("Applying", FormMethod.Post, new { id = "contact-form", @class = "form", role = "form" }))
        {
            @Html.ValidationSummary(true)
            <section class="feast2">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Start stay4 -->
                        <div class="col-sm-12 bg-stay4 ">
                            <img src="img/cocobay/ccb-feast2/restaurant.png" class="wow fadeInDown" style="padding-top: 60px; visibility: visible; animation-name: fadeInDown;">
                            <h1 class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">REQUEST</span> <span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"> A QUOTATION</span></h1>
                            <p class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            <img class="below-p wow fadeInDown" src="img/cocobay/gach-title.PNG" style="visibility: visible; animation-name: fadeInDown;">
                        </div>
                    </div>
                </div>
            </section>

            <div>
                <div id="my-popup" style="margin-top: 0px; visibility: visible; animation-duration: 2s; animation-name: slideInDown;" class="wow slideInDown" data-wow-duration="2s">
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <h3 class="title-projects">Request Quotation Form</h3>
                            <p class="sub-titlte-projects">Please fill your information into fields below</p>
                            <img class="below-h1" src="img/cocobay/gach-title-white.png">
                        </div>
                        <div class="col-sm-6">
                            <form id="contact-form" class="form" action="#" method="POST" role="form">
                                <div class="form-group">
                                    <label class="form-label" for="name">Company Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enouvo" tabindex="1" required="">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                                        <label class="form-label mob" for="note">Event Date</label>
                                        <input type="date" class="form-control" id="date" name="date" placeholder="" tabindex="1">
                                    </div>
                                    <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                                        <label class="form-label mob" for="pick">Check in</label>
                                        <input type="time" class="form-control" id="checkin" name="checkin" placeholder="" tabindex="1">
                                    </div>
                                    <div class="col-sm-4 col-xs-12 active-input marbtt" style="padding: 0px;">
                                        <label class="form-label mob" for="note">Check out</label>
                                        <input type="time" class="form-control" id="checkout" name="checkout" placeholder="" tabindex="1">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12 active-input">
                                    <div class="form-group">
                                        <label class="form-label" for="pick">Request</label>
                                        <select id="rquest">
                                            <option>Meeting room rental</option>
                                            <option>Half day package</option>
                                            <option>Full day package</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12 active-input">
                                    <div class="form-group">
                                        <label class="form-label" for="pick">Package Request</label>
                                        <select id="with">
                                            <option>With Lunch</option>
                                            <option>without lunch</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-6 mob">
                            <div class="form-group">
                                <label class="form-label" for="phone">Number of delegates</label>
                                <input type="number" class="form-control" id="delegates" name="delegates" placeholder="1" tabindex="1" required="">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12 active-input">
                                    <label class="form-label" for="note">Nationality</label>
                                    <input type="text" class="form-control" id="nation" name="nation" placeholder="" tabindex="2" required="">
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12 active-input">

                                <div class="form-group">
                                    <label class="form-label" for="name">Set up styles</label>
                                    <input type="text" class="form-control" id="styles" name="styles" placeholder="" tabindex="1" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">Special request</label>
                                <input type="text" class="form-control" id="Special" name="Special" placeholder="" tabindex="1" required="">
                            </div>

                        </div>
                        <div class="col-sm-12 center">
                            <button class="btn subcribtn" onclick="var magnificPopup = $.magnificPopup.instance; magnificPopup.close();">SUBMIT</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
