﻿@{
    var checkNews = false;
}
@section PageStyle{
    <style>
        p {
            padding-top: 15px;
        }

        @@media (max-width: 480px) {
            .triangle #banner, .triangle #banner .banner-bg-item {
                height: 30px !important;
            }
        }
    </style>
}

@section HeaderBanner{
    <div class="banner-bg-item"><img src="/img/cocobay/bannerps.png" alt=""></div>
}

<section id="news-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="button-like"><i class="fa fa-check" aria-hidden="true"></i> Thích 3,2 triệu</button>
                <button type="submit" class="button-share">Chia sẻ</button><br />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="title-newsdetail">@Model.newItem.Title</h1>
                <div>
                    @Html.Raw(Model.newItem.Description)
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    @*TUCM: 29-12-2018: tạm thời bỏ theo yêu cầu của Cocobay*@
    <script type="text/javascript">
        setTimeout( function () {
            $('#banner, #banner .banner-bg, #banner .banner-bg-item').each(function () {
                var $this = $(this);
                $this.css('height', 100);
            });

            $(".banner-bg").hide();
        },1000);
    </script>
}
