﻿@inherits UmbracoViewPage<KOKOBAY.Models.PlayModel>


@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}

@section PageStyle{

    <style>
        .owl-controls .owl-buttons div, .owl-controls .owl-page {
            border: 2px solid #fff;
        }

        .owl-page.active > span {
            background: #fff !important;
        }

        .owl-theme .owl-controls .owl-page span {
            background: 0 0;
        }

        .overlay-shadow {
            top: 70%;
        }

        .overlay-shadow {
            background: linear-gradient(to bottom, rgba(233, 30, 99, 0), #9C27B0) !important;
        }

        #header #banner .banner-bg-item {
            width: 100%;
            background-position: center;
            overflow: hidden;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            margin-top: 0;
        }

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }

            .row.partner {
                margin-right: -15px;
                margin-left: -15px;
            }

        .css-table-cell {
            display: table-cell;
            vertical-align: top;
        }

        .row.hong {
            margin-right: -15px;
            margin-left: -15px;
        }

        .row.menu {
            margin-right: -15px;
            margin-left: -15px;
        }

        .owl-prev {
            background-image: url(/img/cocobay/about2/pre.png);
        }

        .owl-next {
            background-image: url(/img/cocobay/about2/next.png);
        }

        .owl-buttons .owl-prev:before, .owl-buttons .owl-next:before {
            display: none;
        }

        .owl-theme .owl-controls .owl-buttons div {
            height: 30px;
            width: 53px;
        }



        .btn {
            padding: 8px 14px;
        }



        #header .owl-pagination {
            bottom: -30px;
        }

        .wow:first-child {
            visibility: hidden;
        }

        @@media (max-width:480px) {
            .triangle #banner {
                height: 195px !important;
            }
        }

        @@media (max-width:1025px) {
            #banner .banner-bg-item {
                height: 455px !important;
            }
        }

        @@media (max-width:480px) {
            .triangle #banner, .triangle #banner .banner-bg-item {
                height: 195px !important;
            }

            .owl-prev {
                background-image: url(/img/cocobay/leftm.png);
            }

            .owl-next {
                background-image: url(/img/cocobay/rightm.png);
            }

            .owl-theme .owl-controls .owl-buttons div {
                height: 11px;
                width: 20px;
                top: 22%;
            }

            #header .owl-buttons {
                display: block;
            }

            .owl-controls .owl-buttons {
                opacity: 1;
            }
        }

        @@media (max-width:1199px) {
            #banner .banner-bg-item {
                height: 655px !important;
            }
        }

        @@media (max-width:1025px) and (min-width:430px) {
            #banner .banner-bg-item {
                height: 455px !important;
            }

            .owl-theme .owl-controls .owl-buttons div {
                top: 32%;
            }

            .owl-controls .owl-buttons {
                opacity: 1;
            }
        }

        #header .owl-buttons {
            display: block;
        }

        .owl-controls .owl-buttons {
            opacity: 1 !important;
        }

        @@media (max-width: 1024px) {
            #banner {
                height: 455px !important;
            }
        }

        @@media (max-width: 1199px) and (min-width: 1024px) {
            #banner {
                height: 450px !important;
            }
        }

        @@media (max-width: 768px) and (min-width:426px) {
            .play2-text-desktop {
                display: none;
            }

            .s-wrap {
                width: 100%;
                padding-bottom: 120%;
            }

            .container.margin-play2 {
                margin-right: -5px;
            }
        }

        @@media (min-width: 769px) {
            .play2-text-ipad {
                display: none;
            }
        }

        @@media (max-width: 425px) {
            .play2-text-ipad {
                display: none;
            }
        }
    </style>
}


<section id="shopping2">
    <div class="container margin-play2">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <div class="add-event selected"><div class="events"><h3 class="clickca">Click calender day to show event</h3></div></div><h6 style="text-align: center;">EVENT CALENDAR</h6>
                <div id="yourId" class="jalendar">
                    @foreach (var item in Model.LstEvent)
                    {
                        <div class="added-event" data-link="#" data-date="@item.DateFrom.ToString("dd-MM-yyyy")" data-title="<div class='col-sm-8' style='padding:0'><h3 class='title-play2'>@item.Title</h3><p class='black'><b>@item.DateFrom.ToString("hh:mm tt") - @item.DateTo.ToString("hh:mm tt")</b> | @item.DateFrom.ToString("MMM dd, yyyy")</p><img src='@item.AvatarImage.Url'/></div>"></div>
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-12 center" style="padding-top: 50px;">
            <img src="~/img/cocobay/ccb-shopping2/icon-1.png" class="wow fadeInDown" /><br>
            <h1 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.Title</span></h1>
            <p class="wow fadeInDown" @Model.SubTitle</p>
            <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
        </div>
        @{var dem = 1;}
        @foreach (var item in Model.LstStay)
        {
            if (dem % 2 == 1)
            {
                <div class="col-sm-6 wow fadeInLeft" style="padding-right:0 ;margin-left: -15px;">
                    <form>
                        <div class="s-wrap s-type-1" role="slider">
                            @for (int i = 0; i < item.ImageSlider.Count(); i++)
                            {
                                <input type="radio" id="s-@(i + 1)" name="slider-control" checked="checked">
                            }
                            <ul class="s-content">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {
                                    <li class="s-item s-item-@(i + 1)"><img src="@item.ImageSlider[i].Url" class="imgslid"></li>
                                }
                            </ul>
                            <div class="s-control">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {   <label class="s-c-@(i + 1)" for="s-@(i + 1)"></label>
                                }
                            </div>
                            <div class="s-nav">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {     <label class="s-nav-@(i + 1) right" for="s-@(i < item.ImageSlider.Count() - 1 ? i + 2 : 1)"></label>
                                }
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-6 wow fadeInRight play2-text-desktop" style="padding-left:0; margin-right: -15px;">
                    <img src="@item.Image.Url" />
                    <div class="left-text">
                        <h3 class="title-play2">@item.Title</h3>
                        <p>@Html.Raw(@item.ShortDescription)</p>
                        <a href="@item.Link" class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-bottom: 100px;"></div>
            }
            else
            {
                <div class="col-sm-6 wow fadeInLeft play2-text-desktop" style="padding-right:0 ;    margin-left: -15px;">
                    <img src="@item.Image.Url" />
                    <div class="left-text">
                        <h3 class="title-play2">@item.Title</h3>
                        <p>@Html.Raw(@item.ShortDescription)</p>
                        <a href="@item.Link" class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a>
                    </div>

                </div>

                <div class="col-sm-6 wow fadeInRight" style="padding-left:0;    margin-right: -15px; ">
                    <form>
                        <div class="s-wrap s-type-1" role="slider">
                            @for (int i = 0; i < item.ImageSlider.Count(); i++)
                            {
                                <input type="radio" id="s-@(i + 6)" name="slider-control" checked="checked">
                            }
                            <ul class="s-content">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {
                                    <li class="s-item s-item-@(i + 6)"><img src="@item.ImageSlider[i].Url" class="imgslid"></li>
                                }
                            </ul>
                            <div class="s-control">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {   <label class="s-c-@(i + 6)" for="s-@(i + 6)"></label>
                                }
                            </div>
                            <div class="s-nav">
                                @for (int i = 0; i < item.ImageSlider.Count(); i++)
                                {     <label class="s-nav-@(i + 6) right" for="s-@(i < item.ImageSlider.Count() - 1 ? i + 7 : 6)"></label>
                                }
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12" style="margin-bottom: 100px;"></div>

            }
            dem++;
        }
        <div class="col-sm-12" style="margin-bottom: 100px;"></div>
        @Html.Action("GetLastListNews", "LastNews")
    </div>

</section>


@section Scripts{
    @if (Model.BannerImage == null || Model.BannerImage.Url == null)
    {
        <script type="text/javascript">
            setTimeout(function () {
                $('#banner, #banner .banner-bg, #banner .banner-bg-item').each(function () {
                    var $this = $(this);
                    $this.css('height', 100);
                });
                $(".banner-bg").hide();
            }, 1000);
        </script>
    }
}