﻿@inherits UmbracoViewPage<PRJ_GGG_CMS.Models.BaseViewModel>
@{
    Layout = "~/Views/Layout.cshtml";
}
@if (Model != null)
{
    <div class="news">
        <div class="container">
            <h2 class="tit_news">PAGE NOT FOUND</h2>
        </div>
    </div>
}
