﻿@inherits UmbracoViewPage<KOKOBAY.Models.EventTicketDetailModel>


@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}

@section PageStyle {

    <link rel="stylesheet" href="~/Scripts/agenda-style.css" />
}

<link href="~/css/ticket.css" rel="stylesheet" />
<style>
    p.sdt1 {
        height: 100% !important;
    }
</style>
<section id="shopping2 eventticket">

    <div class="container-fluid">
        <div class="row container-shopping2">
            <div class="col-sm-12 center wow fadeInDown" data-wow-duration="2s">
                <img src="~/img/cocobay/ccb-shopping2/icon-1.png " /><br>
                <h1 class="title">@Model.EventTicketDetailItem.Title</h1>
                <p>@Model.EventTicketDetailItem.SubTitle</p>
                <img class="below-h1" src="~/img/cocobay/gach-title.PNG" />
            </div>
            <div class="col-sm-12">
                @if (Model.EventTicketDetailItem.PHONE != "")
                {
                    <div class="col-sm-3 wow slideInDown" data-wow-duration="1.5s">
                        <div class="event-info1">
                            <p class="icon-font"><i class="icon-phone"></i></p>
                            <p class="phone">@(new UmbracoHelper().GetDictionaryValue("PHONE"))</p>
                            <p class="sdt">@Html.Raw(Model.EventTicketDetailItem.PHONE)</p>
                        </div>
                    </div>
                }
                @if (Model.EventTicketDetailItem.HOURSOFOPERATION != "")
                {
                    <div class="col-sm-3 wow slideInDown" data-wow-duration="1.7s">
                        <div class="event-info2">
                            <p class="icon-font"><i class="icon-clock"></i></p>
                            <p class="phone">@(new UmbracoHelper().GetDictionaryValue("HOURS OF OPERATION"))</p>
                            <p class="sdt">@Html.Raw(Model.EventTicketDetailItem.HOURSOFOPERATION)</p>
                        </div>
                    </div>
                }
                @if (Model.EventTicketDetailItem.AGERESTRICTIONS != "")
                {
                    <div class="col-sm-3 wow slideInDown" data-wow-duration="1.9s">
                        <div class="event-info3">
                            <p class="icon-font"><i class="icon-people"></i></p>
                            <p class="phone">@(new UmbracoHelper().GetDictionaryValue("AGE RESTRICTIONS"))</p>
                            <p class="sdt">
                                @Model.EventTicketDetailItem.AGERESTRICTIONS
                            </p>
                        </div>
                    </div>
                }
                @if (Model.EventTicketDetailItem.PRICERANGE != "")
            {
                    <div class="col-sm-3 wow slideInDown" data-wow-duration="2.1s">
                        <div class="event-info4">
                            <p class="icon-font"><i class="icon-wallet"></i></p>
                            <p class="phone">@(new UmbracoHelper().GetDictionaryValue("PRICE RANGE"))</p>
                            <p class="sdt">@Model.EventTicketDetailItem.PRICERANGE</p>
                        </div>
                    </div>
                }
            </div>


            @if (Model.EventTicketDetailItem.VideoTitle != null && Model.EventTicketDetailItem.VideoTitle != "")
            {
                <div class="col-sm-12 center wow fadeInDown">
                    <h1 class="title nd">@Model.EventTicketDetailItem.VideoTitle</h1>
                    <p>@Model.EventTicketDetailItem.VideoSubTitle</p>
                    <img class="below-h1" src="~/img/cocobay/gach-title.PNG" />
                </div>
            }
            <div class="col-sm-12">
                <div class="video-ticket  wow slideInRight" data-wow-duration="1.5s">

                    @if (Model.EventTicketDetailItem.VideoLink != "" && @Model.EventTicketDetailItem.VideoLink != null)
                    {
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="@Model.EventTicketDetailItem.VideoLink" frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                    <div class="content-video  wow slideInRight" data-wow-duration="1.7s">

                        <div class="nd-video">
                            <p>
                                @Html.Raw(@Model.EventTicketDetailItem.VideoDescription)
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            @if (Model.EventTicketDetailItem.GalleryImage.Count > 0)
            {
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-sm-12 center  wow slideInDown" data-wow-duration="2s">
                            <h1 class="title nd">@Model.EventTicketDetailItem.TitleGallery</h1>
                            <p>@Model.EventTicketDetailItem.SubTitleGallery</p>
                            <img class="below-h1" src="~/img/cocobay/gach-title.PNG" />
                        </div>
                        <ul class="lb-album">

                            @{ int dem = 0;}
                            @foreach (var item in Model.EventTicketDetailItem.GalleryImage)
                            {
                                dem++;
                                string cssDisplay = "fadeInLeft";
                                if (dem % 2 != 0)
                                {
                                    cssDisplay = "fadeInLeft";
                                }
                                else
                                {
                                    cssDisplay = "fadeInRight";
                                }

                                <div class="col-sm-3 feature wow @cssDisplay">
                                    <li>
                                        <a href="#image-1">
                                            <img src="@item.Url" class="slm1" alt="image01">
                                        </a>
                                        <div class="lb-overlay" id="image-1">
                                            <img src="@item.Url" alt="image01" class="close-img" />
                                            <a href="#page" class="lb-close">x Close</a>
                                        </div>
                                    </li>
                                </div>

                            }

                        </ul>
                    </div>
                </div>
                                }

            <div class="col-sm-12" style="margin-top: 100px;">
                <div class="col-sm-4  wow slideInLeft" data-wow-duration="2s"><img class="img-event" src="@Model.EventTicketDetailItem.LocationImage.Url" /></div>
                <div class="col-sm-4">
                    <div class="wow slideInDown" data-wow-duration="2.3s">
                        <p class="title-video">@Model.EventTicketDetailItem.LocationTitle</p>
                        <p>@Html.Raw(@Model.EventTicketDetailItem.LocationDescription)</p>
                    </div>
                </div>
                <div class="col-sm-4   wow slideInRight" data-wow-duration="2.4s">
                    @*<p class="title-video">@(new UmbracoHelper().GetDictionaryValue("HOURS OF OPERATION"))</p>*@
                    <div class="event-info1">
                        <p class="icon-font"><i class="icon-clock"></i></p>
                        <p class="phone"> @(new UmbracoHelper().GetDictionaryValue("HOURS OF OPERATION"))</p>
                        <p class="sdt">@Html.Raw(Model.EventTicketDetailItem.HOURSOFOPERATION)</p>
                    </div>

                    <div class="event-info2" style="margin-top:30px">
                        @if (Model.EventTicketDetailItem.PHONE != "" && Model.EventTicketDetailItem.PHONE != null)
                        {
                            <p class="title-event">@(new UmbracoHelper().GetDictionaryValue("PHONE"))</p>
                            <p class="sdt1">@Html.Raw(Model.EventTicketDetailItem.PHONE)</p>
                        }
                        @if (Model.EventTicketDetailItem.LinkBookTicket != "" && Model.EventTicketDetailItem.LinkBookTicket != null)
                        {
                            <a class="book-event" href="@Model.EventTicketDetailItem.LinkBookTicket">
                                <button class="btn bookit1">@(new UmbracoHelper().GetDictionaryValue("BOOK TICKET"))</button>
                            </a>
                        }
                    </div>

                </div>
            </div>
            @if (Model.EventTicketDetailItem.EnableDetailAgenda == true)
            {
                <div class="col-sm-12">

                    <div class="col-sm-12 center wow fadeInDown" data-wow-duration="2s">
                        <h1 class="title" style="margin-top: 50px;">@Model.EventTicketDetailItem.DetailAgendaTitle</h1>
                        <p>@Model.EventTicketDetailItem.DetailedAgendaSubtitle</p>
                        <img class="below-h1" src="~/img/cocobay/gach-title.PNG" />
                    </div>
                    <div class="col-sm-12">
                        <button class="btn bookit1 col-sm-3 col-sm-offset-5" id="element1" style="padding-bottom: 10px !important; margin-bottom:40px;" onClick="javascript:changeText(1)">@(new UmbracoHelper().GetDictionaryValue("Hide Detailed Agenda"))</button>
                        <div id="contenteventsmall" style="display:block;margin-top: 20px;">
                            <div class="cd-schedule loading">
                                <div class="timelineHeader">
                                    @Html.Raw(Model.EventTicketDetailItem.DETAILEDAGENDA)
                                </div>
                                <div class="timeline">
                                    <ul>
                                        <li><span>07:00</span></li>
                                        <li><span>07:30</span></li>
                                        <li><span>08:00</span></li>
                                        <li><span>08:30</span></li>
                                        <li><span>09:00</span></li>
                                        <li><span>09:30</span></li>
                                        <li><span>10:00</span></li>
                                        <li><span>10:30</span></li>
                                        <li><span>11:00</span></li>
                                        <li><span>11:30</span></li>
                                        <li><span>12:00</span></li>
                                        <li><span>12:30</span></li>
                                        <li><span>13:00</span></li>
                                        <li><span>13:30</span></li>
                                        <li><span>14:00</span></li>
                                        <li><span>14:30</span></li>
                                        <li><span>15:00</span></li>
                                        <li><span>15:30</span></li>
                                        <li><span>16:00</span></li>
                                        <li><span>16:30</span></li>
                                        <li><span>17:00</span></li>
                                        <li><span>17:30</span></li>
                                        <li><span>18:00</span></li>
                                        <li><span>18:30</span></li>
                                        <li><span>19:00</span></li>
                                        <li><span>19:30</span></li>
                                        <li><span>20:00</span></li>
                                        <li><span>20:30</span></li>
                                        <li><span>21:00</span></li>
                                        <li><span>21:30</span></li>
                                        <li><span>22:00</span></li>
                                    </ul>
                                </div> <!-- .timeline -->
                                <div class="events">
                                    <ul>
                                        @foreach (var column in Model.EventTicketDetailItem.EventTicketDetailColumnsList)
                                        {
                                            <li class="events-group">
                                                <div class="top-info"><span>@column.EventColumnName</span></div>

                                                <ul>
                                                    @foreach (var time in column.EventTicketDetailRowList)
                                                    {
                                                        <li class="single-event" data-start="@time.FromTime.ToString("HH:mm")" data-end="@time.ToTime.ToString("HH:mm")" data-content="@time.EventTicketDetailDescription" data-event="@time.eventColor">
                                                            <a href="#0">
                                                                <em class="event-name">@time.EventTicketDetailName</em>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="event-modal">
                                    <header class="header">
                                        <div class="content">
                                            <span class="event-date"></span>
                                            <h3 class="event-name"></h3>
                                        </div>

                                        <div class="header-bg"></div>
                                    </header>

                                    <div class="body">
                                        <div class="event-info"></div>
                                        <div class="body-bg"></div>
                                    </div>

                                    <a href="#0" class="close">Close</a>
                                </div>

                                <div class="cover-layer"></div>
                            </div> <!-- .cd-schedule -->

                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $("button#element1").click(function () {
            $("div#contenteventsmall").slideToggle();
        });
    });

    function changeText(idElement) {
        var element = document.getElementById('element' + idElement);
        if (idElement === 1 || idElement === 2) {
            if (element.innerHTML === 'Hide Detailed Agenda') element.innerHTML = 'Show Detailed Agenda';
            else {
                element.innerHTML = 'Hide Detailed Agenda';
            }
        }
    }

</script>

<script src="~/Scripts/kokojs/schedule.js"></script>
<script src="~/Scripts/agenda.js"></script>
@section scripts {

    <script>
        function getRnd() {
            return Math.floor(Math.random() * 4) + 1;
        }
    </script>

}
