﻿@inherits UmbracoViewPage<KOKOBAY.Models.EventTicketModel>


@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.BannerImage.Url" alt=""></div>
}
<link href="~/css/ticket.css" rel="stylesheet" />
<style>
    button.btn.moreit {
        border: none !important;
    }
</style>

<section id="shopping2">
    <div class="container-fluid">
        <div class="row container-shopping2">
            <div class="col-sm-12 center wow fadeInDown">
                <img src="~/img/cocobay/ccb-shopping2/icon-1.png " /><br>
                <h1 class="title">@Model.TitleEventTicket</h1>
                <p>@Model.SubTitleEventTicket</p>
                <img class="below-h1" src="img/cocobay/gach-title.PNG" />
            </div>

            <div class="col-sm-12">
                @foreach (var item in Model.LstEventTicket)
                {
                    <div class="col-sm-3  wow slideInDown" data-wow-duration="2s">
                        <div class="item-ticket">
                            <div class="img-thumb">
                                <img class="img-ticket" src="@item.AvatarImage.Url" />
                            </div>
                            <div class="info-tiket">
                                <div class="ticket-title">
                                    <p class="detail-icon">@item.Title</p>
                                    <p class="detail-title">@item.SubTitle</p>
                                    <p class="detail-content">@item.ShortDescription</p>
                                </div>

                                <div class="col-sm-12 text-center ticket-bottom">
                                    @if (item.LinkBookTicket != "" && item.LinkBookTicket != null)
                                    {
                                        <button class="btn bookit"><a href="@item.LinkBookTicket" style="color:white">@(new UmbracoHelper().GetDictionaryValue("BOOK TICKET"))</a></button>
                                    }
                                    <button class="btn moreit"><a href="@item.VideoLink">@(new UmbracoHelper().GetDictionaryValue("MORE"))</a></button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="col-sm-12 wow slideInLeft" data-wow-duration="2.6s" style="text-align: center;"><button class="btn subcribtn">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button></div>
        </div>
    </div>

</section>
