﻿@inherits UmbracoViewPage<KOKOBAY.Models.OfferModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="@Model.Current.BannerImage.Url" alt=""></div>
}

@section HeaderCell{
    <div class="css-table-cell">
        <div class="col-sm-12 logobanner-offers">
            <img class="img-logobanner-offers wow shake" src="@Model.Current.IconBannerImage.Url" />
            <h1 class="title-bannero wow shake">@Model.Current.Title</h1>
            <img class="below-h1 wow shake" src="/img/cocobay/ccb-shopping2/gach-trang.png" />
            <p class="description-banner wow shake">@Model.Current.SubTitle</p>
        </div>
    </div>
}

@section PageStyle{


    <style type="text/css" media="screen">
        #essentials .tab-content-list {
            position: relative;
            padding: 30px 0px;
        }

        .banner-bg-item {
            background-color: black;
        }

        .css-table-cell {
            display: table-cell;
            vertical-align: middle;
        }

        .tab-content1 img {
            position: relative;
            height: auto;
            width: 100%;
            object-fit: cover;
            top: 0;
            right: 0;
        }

          @@media (max-width: 480px) {
            img.img-logobanner-offers {
               width: 90px;
               margin-top: 70px;
            }

            #offers {
                margin-top: 10px !important;
            }
        }

        @@media (max-width: 320px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 9% !important;
                margin-top: 50px !important;
            }
        }

        @@media (max-width: 399px) and (min-width: 321px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 16% !important;
            }
        }

        @@media (max-width: 491px) and (min-width: 400px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 20% !important;
                margin-top: 50px !important;
            }
        }

        @@media (min-width: 481px) and (max-width: 599px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 14% !important;
            }
        }

        @@media (min-width: 717px) and (max-width: 800px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 18% !important;
                margin-top: 50px !important;
            }
        }

        @@media (min-width: 801px) and (max-width: 979px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 5% !important;
            }
        }

        @@media (max-width: 1024px) and (min-width: 980px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 22% !important;
            }
        }

        @@media (max-width: 1440px) and (min-width: 1025px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 11% !important;
            }
        }

        @@media (min-width: 1571px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 22% !important;
            }
        }

        @@media (min-width: 1440px) and (max-width: 1570px) {
            div.custom-list.tab-title-list.leftmg.tab-title-list-stay {
                margin-left: 12.5% !important;
            }
        }

        #essentials .overlay-shadow {
            margin: 0px;
        }

        .overlay-shadow {
            background: linear-gradient(to top, hsla(0, 0%, 0%, 0.72), rgba(0, 0, 0, 0));
        }

        .overlay-content.mod {
            padding-top: 62% !important;
            padding-left: 30px;
        }

        .overlay-content.mod1 {
            padding-top: 30%;
            padding-left: 30px;
            text-align: left;
        }

        .wow:first-child {
            visibility: hidden;
        }

        @@media (min-width: 426px) and (max-width: 768px) {
            .overlay-content.mod {
                padding-top: 50% !important;
            }
        }

        @@media (min-width: 769px) and (max-width: 1024px) {
            .overlay-content.mod {
                padding-top: 38% !important;
            }

            .overlay-content.mod2 {
                padding-top: 20%;
            }
        }

        .cbp-l-grid-mosaic .cbp-caption-activeWrap {
            background-color: none;
            background: linear-gradient(to top, rgba(169, 12, 130, 0.8), rgba(42, 1, 56, 0.98)) !important;
        }

        .cbp-l-grid-mosaic .cbp-l-caption-title, .cbp-l-grid-mosaic .cbp-l-caption-desc {
            color: #fff !important;
            font: 500 20px/22px "Roboto", sans-serif !important;
            text-transform: none !important;
            margin-bottom: 5px;
        }

        p.readmore {
            font: 500 20px/22px "Roboto", sans-serif !important;
        }
    </style>
}

<section id="offers">
    <div class="container-fluid">
        <section id="essentials">
            <div class="tabs-container essentials-tabs-container">
                <div class="tabs-container essentials-tabs-container">
                    <div id="js-filters-mosaic" class="cbp-l-filters-button custom-list tab-title-list leftmg tab-title-list-stay">
                        <div data-filter="*" class="cbp-filter-item cbp-filter-item-active tab-title tab1-off">
                            <a>@(new UmbracoHelper().GetDictionaryValue("SHOW ALL"))</a>
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".Restaurant" class="cbp-filter-item   tab-title tab2-off">
                            <a>@(new UmbracoHelper().GetDictionaryValue("RESTAURANT"))</a>
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".Hotel" class="cbp-filter-item  tab-title tab3-off">
                            <a>@(new UmbracoHelper().GetDictionaryValue("HOTEL"))</a>
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".Other" class="cbp-filter-item   tab-title tab4-off">
                            <a>@(new UmbracoHelper().GetDictionaryValue("OTHER"))</a>
                            <div class="cbp-filter-counter"></div>
                        </div>
                    </div>
                    <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
                        @foreach (var item in Model.lstOffers)
                        {
                            <div class="cbp-item @item.OfferType">
                                <div class="cbp-item-wrapper">
                                    <a href="@item.UrlItem" class="cbp-caption" data-title="@item.Title">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="@item.AvatarImage.Url" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-title">@item.Title</div>
                                                    <div class="cbp-l-caption-desc">@item.ShortDescription</div>
                                                    <p class="readmore">
                                                        <i class="fa fa-long-arrow-right"></i> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    @*<div id="js-loadMore-mosaic" class="cbp-l-loadMore-button">
                            <a href="ajax-mosaic/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                                <span class="cbp-l-loadMore-defaultText">
                                    LOAD MORE (
                                    <span class="cbp-l-loadMore-loadItems">4</span>)
                                </span>
                                <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                                <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                            </a>
                        </div>*@
                </div>
            </div>
        </section>
    </div>
</section>


@section Scripts{
    <script>
        $('#js-grid-mosaic').cubeportfolio({
            filters: '#js-filters-mosaic',
            layoutMode: 'mosaic',
            sortToPreventGaps: true,
            mediaQueries: [{
                width: 1500,
                cols: 4,
            }, {
                width: 1100,
                cols: 3,
            }, {
                width: 800,
                cols: 2,
            }, {
                width: 480,
                cols: 1,
                options: {
                    caption: '',
                    gapHorizontal: 15,
                    gapVertical: 15,
                }
            }],
            defaultFilter: '*',
            animationType: 'quicksand',
            gapHorizontal: 0,
            gapVertical: 0,
            gridAdjustment: 'responsive',
            caption: 'zoom',
            displayType: 'sequentially',
            displayTypeSpeed: 100,

            plugins: {
                loadMore: {
                    element: '#js-loadMore-mosaic',
                    action: 'click',
                    loadItems: 3,
                }
            },
        });
    </script>
    <!-- END cubeportfolio -->
} 