﻿@inherits UmbracoViewPage<KOKOBAY.Models.AboutUsModel>

@section HeaderBanner{
    @if (Model.Current.HeaderImage != null)
    {
        <div class="banner-bg-item"><img src="@Model.Current.HeaderImage.Url" width="100%" /></div>
    }
}

<section id="about2">
    <div class="container">
        <div id="carousel-id" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">

                @if (Model.Current.Testimonial != null)
                {
                    foreach (var item in Model.Current.Testimonial)
                    {
                        var Images = item.GetPropertyValue<string>
                            ("TestimonialImage").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                        var lstImage = Umbraco.TypedMedia(Images).Where(x => x != null).FirstOrDefault();

                        var TestimonialName = item.GetPropertyValue<string>
                            ("TestimonialName");
                        var TestimonialSubtitle = item.GetPropertyValue<string>
                            ("TestimonialSubtitle");
                        var TestimonialDescription = item.GetPropertyValue<string>
                            ("TestimonialDescription");
                        var ativ = item == Model.Current.Testimonial.FirstOrDefault() ? "active" : "";

                        <div class="item @ativ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row ">
                                            <div class="col-sm-8">
                                                <h6 class="name-ti">@TestimonialName</h6>
                                                <p class="position-ti">@TestimonialSubtitle</p>
                                                @*<p class="daunhay">“</p>*@
                                                <p class="description-ti">@Html.Raw(TestimonialDescription)</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="@lstImage.Url" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (Model.Current.Testimonial.Count() > 1)
            {
                <a class="left carousel-control custom" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control custom" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            }
        </div>
        @if (Model.Current.AchievementTitle != null)
        {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center title-headerabout1">
                <img src="/img/cocobay/about2/icon-1.png" width="100px" alt="" class="wow fadeInDown">
                <h2 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.Current.AchievementTitle</span></h2>
                <p class="wow fadeInDown">@Model.Current.AchievementSubtitle</p>
                <img src="/img/cocobay/about2/gach-title.PNG" alt="" class="wow fadeInDown">
            </div>
        }
    </div>
    @{
        var mImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("AchievementImages");
        if (mImages != null)
        {
            <div class="container-fluid logo-achievement">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-1">
                        </div>
                        @foreach (var item in mImages)
                        {
                            <div class="col-sm-2 partner-logo-about2">
                                <img src="@item.Url" alt="" class="wow fadeInLeft">
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="http://code.jquery.com/jquery-migrate-3.0.0.js"></script>
                <h2 class="title-map">
                    @Model.Current.LeadingEntertainmentTitle
                </h2>
                <p>@Html.Raw(Model.Current.LeadingEntertainmentDescription)</p>
                <section class="round-border">
                    <div id="collapse1">
                        <p>
                            @Html.Raw(Model.Current.LeadingEntertainmentDescriptionMore)
                        </p>
                    </div>
                    <h5 class="sub-title-about2">@Model.Current.LeadingEntertainmentNote</h5>
                </section>
            </div>
        </div>
    </div>
    @if (Model.Current.LeadingEntertainmentVideo != null && Model.Current.LeadingEntertainmentVideo != "")
    {
        <div class="col-sm-12 img-gach">
            <img src="/img/cocobay/about2/gach-title.PNG" alt="">
        </div>
        <div class="container">
            <div class="col-sm-12 img-video wow fadeInUp">
                <iframe class="youtubevideo" src="@Model.Current.LeadingEntertainmentVideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    }
    <div class="container-fluid" style="padding-right: -15px;padding-left: -15px;">
        <div class="row">
            <div class="col-sm-12 img-gach">
                <img src="/img/cocobay/about2/gach-title.PNG" alt="">
                <div class="row">
                    <div class="col-sm-6 img-map-title">
                        <img src="@(Model.Current.UniqueLocationImage!=null?Model.Current.UniqueLocationImage.Url:"")" class="img-map wow fadeInLeft" width="100%" alt="">
                    </div>
                    <div class="col-sm-6 rigth-map-about2 img-map wow fadeInRight">
                        <h2 class="title-map">@Model.Current.UniqueLocationTitle</h2>
                        <p class="details-map">@Html.Raw(Model.Current.UniqueLocationDescription)</p>
                        <h4 class="phuonghuong">@Model.Current.UniqueLocationNorthTitle</h4>
                        <p>@Model.Current.UniqueLocationNorthText</p>
                        <h4 class="phuonghuong">@Model.Current.UniqueLocationSouthTitle</h4>
                        <p>@Model.Current.UniqueLocationSouthText</p>
                        <h4 class="phuonghuong">@Model.Current.UniqueLocationWestTitle</h4>
                        <p>@Model.Current.UniqueLocationWestText</p>
                        <h4 class="phuonghuong">@Model.Current.UniqueLocationEastTitle</h4>
                        <p>@Model.Current.UniqueLocationEastText</p>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-12 center title-headerabout2">
                    <img src="/img/cocobay/about2/icon-2.png" class="wow fadeInDown" width="100px" alt="">
                    <h2 class="title wow fadeInDown">@Model.Current.HeartTitle</h2>
                    <p class="wow fadeInDown">@Model.Current.HeartSubtitle</p>
                    <img src="/img/cocobay/about2/gach-title.PNG" alt="" class="wow fadeInDown">
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-4 cocoheart-left wow rollIn" style="text-align: left;">
                            <h2 class="title-cocoheart">@Model.Current.HeartSubtitle2</h2>
                            <p class="description-left">@Html.Raw(Model.Current.HeartDescription)</p>
                            <a href="news-detail.html" class="button-discover">-->@(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a>
                        </div>
                        <div class="col-sm-6 lightSpeedIn">
                            <section class="row">
                                <div class="nine columns">
                                    <div class="coverflow top10 bot10">
                                        <a class="prev-arrow"><img src="/img/cocobay/about2/pre.png" alt=""></a>
                                        @{
                                            var hImages = Model.Content.GetPropertyValue<IPublishedContent>
                                                ("HeaderImage");
                                            if (hImages != null)
                                            {
                                                <div class="col-sm-2 partner-logo-about2">
                                                    <img src="@hImages.Url" alt="" class="wow fadeInLeft">
                                                </div>
                                                <a href=""><img src="@hImages.Url" class="coverflow__image" /></a>
                                            }
                                        }
                                        <a class="next-arrow"><img src="/img/cocobay/about2/next.png" alt=""></a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>*@
            @*<div class="col-sm-12 center title-headerabout1">
                    <img src="/img/cocobay/about2/icon-3.png" width="130px" alt="" class="wow fadeInDown">
                    <h2 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@Model.Current.ProjectsTitle</span></h2>
                    <p class="wow fadeInDown">@Model.Current.ProjectsSubtitle</p>
                    <img src="/img/cocobay/about2/gach-title.PNG" alt="" class="wow fadeInDown">
                    <section id="essentials">
                        <!-- Start Tabs-Container -->
                        <div class="tabs-container essentials-tabs-container ">

                            <ul class="custom-list tab-content-list list-stay" style="padding: 30px 0px 0px 0px;">
                                <!-- Start Stay -->
                                <li class="tab-content tab-content1 active img-stay" height="auto">

                                    <img src="@(Model.Current.ProjectsImage!=null?Model.Current.ProjectsImage.Url:"")" style="width:100%!important;height: 100%!important" alt="">

                                    <div class="buttoncong"></div>
                                    <div class="buttoncong1"></div>
                                    <div class="buttoncong2"></div>
                                    <div class="buttoncong3"></div>
                                    <div class="buttoncong4"></div>
                                    <div class="buttoncong5"></div>
                                    <div class="buttoncong6"></div>
                                    <div class="buttoncong7"></div>
                                    <div class="buttoncong0"></div>
                                </li>

                                <!-- End Stay -->

                            </ul>
                        </div>
                        <!-- End Tabs Container -->
                    </section>
                </div>*@

            @if (Model.Current.EnableProjectsList == true)
            {
                <div class="col-sm-12 center title-headerabout1">
                    <!-- Start Projects -->
                    <section class="projects">
                        <div class="container-fluid ">
                            <div class="row">
                                <!-- Start Title -->
                                <div class="col-sm-12 center">
                                    <img src="~/img/cocobay/projects.PNG" class="wow fadeInDown" /><br>
                                    <h1 class="title wow fadeInDown"><span style="background: -webkit-linear-gradient(#673AB7, #e91e63de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">@(new UmbracoHelper().GetDictionaryValue("COCOBAY PROJECTS"))</span></h1>
                                    <p class="wow fadeInDown">@(new UmbracoHelper().GetDictionaryValue("COCOBAY PROJECTS SUB TITLE"))</p>
                                    <img class="below-h1 wow fadeInDown" src="~/img/cocobay/gach-title.PNG" />
                                </div>
                                <!-- End Title -->
                                <div class="container-fluid">
                                    <div class="row" style="margin:-15px;">
                                        @if (Model.LstProjects != null)
                                        {
                                            foreach (var item in Model.LstProjects)
                                            {
                                                <div class="col-sm-4 feature wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                                    <div class="overlay">
                                                        <img src="@item.ProjectImageSlider.FirstOrDefault().Url" width="100%" alt="">
                                                        <div class="overlay-shadow">

                                                            <div class="overlay-content mod">
                                                                <h2 class="project-title">@item.ProjectTitle</h2>
                                                                <p>@Html.Raw(item.ProjectDescription)</p>

                                                                <a class="readmore" href="@item.ProjectURL"></a><p class="readmore"><a class="readmore" href="@item.ProjectURL"><i class="fa fa-long-arrow-right"></i> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- End Projects -->

                </div>
            }
        </div>
    </div>

</section>
