﻿@inherits UmbracoViewPage<KOKOBAY.Models.SearchModel>

@section HeaderBanner{
    <div class="banner-bg-item"><img src="/img/cocobay/news-searchresult/banner-searchresult.png" alt=""></div>

}
@section HeaderCell{
    <div class="css-table-cell cell-search">
        <div class="container searchresult wow pulse">
            @if (Model.lstEvents.Count > 0)
            {
                <div class="content_header_event">
                    <h6 class="text_header_event">#@(new UmbracoHelper().GetDictionaryValue("Event"))</h6>
                </div>

                <div class="content_header_search">
                    <h1 class="text_header_searchrs1">@Model.lstEvents[0].Title</h1>
                </div>
                <div class="content_header_discover">
                    <a href="@Model.lstEvents[0].UrlNews"> <h6 class="text_header_discover">--> @(new UmbracoHelper().GetDictionaryValue("DISCOVER NOW"))</h6></a>
                </div>
            }
            <div class="sidebox widget">
                <form id="formSearch" method="POST" class="default-form search-form">
                    <input type="text" placeholder="Search" id="SearchTerm" name="SearchTerm" value="@(Model!=null && Model.SearchResult!=null?Model.SearchResult.SearchTerm:"")">
                    <button id="smbutton"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
}

@section PageStyle{
    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            background-color: #FFC107;
            color: #fff !important;
            border-radius: 0 !important;
            margin: 0px;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 20px 35px;
        }

        .tab-content > .active {
            display: block;
            font-family: avo;
            font-weight: 600 !important;
        }

        h3.title-h3, h4.title-h3-1 {
            height: auto;
        }

        img.below-h1 {
            width: 90px;
            height: 7px;
        }

        .wow:first-child {
            visibility: hidden;
        }
    </style>
}


<section id="news-searchresult">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-news-result">
                <div class="row">
                    @if (Model.lstEvents.Count > 0)
                    {
                        for (int i = 1; i < 5; i++)
                        {
                            <a href="@Model.lstEvents[i].UrlNews">
                                <div class="col-sm-3 itemsbaner">
                                    <div class="overlay">
                                        <img src="@Model.lstEvents[i].Image.Url" class="img-header-news1" alt="">
                                        <div class="overlay-shadow">
                                            <div class="overlay-content mod">
                                                <h6 class="project-title">@Model.lstEvents[i].Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>

        @if (Model != null && Model.SearchResult != null && Model.SearchResult.HasResults)
            {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="title-resutl">@(new UmbracoHelper().GetDictionaryValue("We found")) @Model.SearchResult.TotalItemCount @(new UmbracoHelper().GetDictionaryValue("results of"))  <span class="color-result">"@Model.SearchResult.SearchTerm"</span></h3>
            </div>
            foreach (IPublishedContent result in Model.SearchResult.Results)
            { <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-search-project">
            <div class="row">
                <div class="col-sm-4">
                    <img src="@(((Umbraco.Core.Models.PublishedContent.PublishedContentWrapped)(result.GetPropertyValue<IPublishedContent>("avatarImage"))).Url)" class="img-detail-news" width="350px" alt="">
                </div>
                <div class="col-sm-8">
                    <a href="@(result.Url)">
                        <h3 class="title-project">@(result.Name)</h3>
                        <p>@(((NewsLanding)result).ShortDescription)</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hr-result">
                </div>
            </div>
        </div>

            }

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingbottom">
                <button class="btn pinkkoff" id="btnLoadMoreSearch">@(new UmbracoHelper().GetDictionaryValue("Read more"))</button>
            </div>
        }
        else
        {     <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="title-resutl">@(new UmbracoHelper().GetDictionaryValue("No results to display"))</h3>
            </div>
        </div>
        }
    </div>
</section>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        AutoLoadMore('.news-search-project', "y", '#btnLoadMoreSearch', 5);


        $("#smbutton").click(function (e) {
            history.pushState(null, null, '@(UmbracoContext.Current.PublishedContentRequest.Domain.Name)/search?q=' + $("#SearchTerm").val());
        })


    </script>
}
