﻿@*<!DOCTYPE html>
<html>
<head>
    <title>Booking Export</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://KOKO.com.vn/Content/images/favicon.gif">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/datatable/dataTables.foundation.min.css" rel="stylesheet" />
    <link href="~/css/datatable/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

</body>
</html>*@